In [36]:
import pandas as pd

In [ ]:
def merge_datasets(df_left:pd.DataFrame, df_right:pd.DataFrame, on1_left:str, on1_right:str, on2_left:str, on2_right:str):
    '''
    Función para hacer merge de dos datasets con las mismas referencias ordenadas pero con variaciones en el nombre. Fuerza el cambio de nombres para hacer merge.
    '''
    values_left = df_left[on1_left].sort_values().unique()
    values_right = df_right[on1_right].sort_values().unique()
    dicc = {values_right[i]: values_left[i] for i in range(len(values_right))}
    print(dicc)
    df_right[on1_right] = df_right[on1_right].map(dicc)

    df_right = df_right.rename(columns={on1_right: on1_left})
    df_right = df_right.rename(columns={on2_right: on2_left})

    return pd.merge(df_left, df_right, 'outer', [on1_left, on2_left])

In [67]:
merge_datasets(df_manu, df_mili, 'Comunidad Autonoma', 'Comunidad Autónoma', 'Año', 'año')

{'Andalucia': 'Andalucia', 'Aragon': 'Aragon', 'Asturias': 'Asturias', 'Baleares': 'Baleares', 'Canarias': 'Canarias', 'Cantabria': 'Cantabria', 'Castilla y León': 'Castilla y León', 'Castilla-La Mancha': 'Castilla-La Mancha', 'Cataluña': 'Cataluña', 'Ceuta': 'Ceuta', 'Comunidad Valenciana': 'Comunidad Valenciana', 'Euskadi': 'Euskadi', 'Extremadura': 'Extremadura', 'Galicia': 'Galicia', 'La Rioja': 'La Rioja', 'Madrid': 'Madrid', 'Melilla': 'Melilla', 'Murcia': 'Murcia', 'Navarra': 'Navarra'}

,Comunidad Autonoma,Año,precio_medio_anual_eur_m2_venta,precio_medio_anual_eur_m2_alquiler,pib_pc,renta_pc,poblacion,gasto_elevado_vivienda(%),falta_espacio_vivienda(%),retrasos_pagos(%),renta_media,renta_mediana,riesgo_pobreza(%),dificultad_fin_mes(%),desigualdad_ing(S80/S20),inc_gastos_imprevistos(%),tasa_criminalidad
0,Andalucia,2006,1967.75,9.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Andalucia,2007,1915.33,8.62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Andalucia,2008,1839.67,7.99,18638.0,11951.0,7578941.0,"7,3","6,8","7,6",13.859,11.651,"27,3",72.1,6,"38,2",NaN
3,Andalucia,2009,1757.50,7.27,17685.0,11869.0,7627743.0,"8,6","5,7","10,6",14.393,12.695,"27,7",71.8,6,"45,7",NaN
4,Andalucia,2010,1713.33,6.85,17567.0,11773.0,7666919.0,"7,8","4,6","12,9",14.152,12.086,"28,1",73.9,"6,2","52,2","49,3"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
351,Navarra,2021,1448.67,8.87,27365.0,16951.0,278905.0,"8,2","3,7",8,18.758,17.420,"16,8",32.3,"5,1","22,5","28,6"
352,Navarra,2022,1521.67,9.22,30431.0,18089.0,278137.0,"6,9",5,"7,8",19.819,18.414,"16,6",36.0,"4,8","19,6","36,6"
353,Navarra,2023,1637.67,9.59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
354,Navarra,2024,1729.75,10.12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
355,Navarra,2025,1759.18,10.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
df_mili = pd.read_csv('../data/processed/pib_vs_calidad_vida.csv', sep=',', index_col=0).reset_index()

In [78]:
df_mili.iloc[:,0].unique()

array(['Andalucía', 'Aragón', 'Asturias', 'Balears', 'Canarias',
       'Cantabria', 'Castilla Y León', 'Castilla - La Mancha', 'Cataluña',
       'Comunitat Valenciana', 'Extremadura', 'Galicia', 'Madrid',
       'Murcia', 'Navarra', 'País Vasco', 'Rioja', 'Ceuta', 'Melilla'],
      dtype=object)

In [79]:
df_pedro = pd.read_csv('../data/processed/datos_pedro.csv', sep='|', index_col=0)
df_mili = pd.read_csv('../data/processed/pib_vs_calidad_vida.csv', sep=',', index_col=0).reset_index()
df_manu = pd.read_csv('../data/interim/alquiler_venta_ccaa.csv', sep=',', index_col=0)
df_manu.com_aut = df_manu['Comunidad Autonoma'].str.replace('Euskadi', 'País Vasco')


merge_datasets(df_pedro,
               merge_datasets(df_manu, df_mili, 'Comunidad Autonoma', 'Comunidad Autónoma', 'Año', 'año'),
               'com_aut', 'Comunidad Autonoma', 'año', 'Año')

{'Andalucía': 'Andalucia', 'Aragón': 'Aragon', 'Asturias': 'Asturias', 'Balears': 'Baleares', 'Canarias': 'Canarias', 'Cantabria': 'Cantabria', 'Castilla - La Mancha': 'Castilla y León', 'Castilla Y León': 'Castilla-La Mancha', 'Cataluña': 'Cataluña', 'Ceuta': 'Ceuta', 'Comunitat Valenciana': 'Comunidad Valenciana', 'Extremadura': 'Euskadi', 'Galicia': 'Extremadura', 'Madrid': 'Galicia', 'Melilla': 'La Rioja', 'Murcia': 'Madrid', 'Navarra': 'Melilla', 'País Vasco': 'Murcia', 'Rioja': 'Navarra'}
{'Andalucia': 'Andalucía', 'Aragon': 'Aragón', 'Asturias': 'Asturias', 'Baleares': 'Balears', 'Canarias': 'Canarias', 'Cantabria': 'Cantabria', 'Castilla y León': 'Castilla - La Mancha', 'Castilla-La Mancha': 'Castilla Y León', 'Cataluña': 'Cataluña', 'Ceuta': 'Ceuta', 'Comunidad Valenciana': 'Comunitat Valenciana', 'Euskadi': 'Extremadura', 'Extremadura': 'Galicia', 'Galicia': 'Madrid', 'La Rioja': 'Melilla', 'Madrid': 'Murcia', 'Melilla': 'Navarra', 'Murcia': 'País Vasco', 'Navarra': 'Rioja'}

C:\Users\phbas\AppData\Local\Temp\ipykernel_8732\2253801651.py:4: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df_manu.com_aut = df_manu['Comunidad Autonoma'].str.replace('Euskadi', 'País Vasco')

,año,com_aut,pib,pob,sui,nat,paro,ing,pobr,fum,...,gasto_elevado_vivienda(%),falta_espacio_vivienda(%),retrasos_pagos(%),renta_media,renta_mediana,riesgo_pobreza(%),dificultad_fin_mes(%),desigualdad_ing(S80/S20),inc_gastos_imprevistos(%),tasa_criminalidad
0,2000,Andalucía,86760722.0,7301.8,NaN,11.08,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2001,Andalucía,93964317.0,7341.5,11.17,11.06,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2002,Andalucía,101269401.0,7437.2,10.36,11.01,NaN,NaN,NaN,31.84,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2003,Andalucía,110093641.0,7544.2,10.35,11.42,NaN,NaN,NaN,30.39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2004,Andalucía,119026615.0,7649.0,11.01,11.64,NaN,NaN,NaN,28.82,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,2021,Rioja,8735750.0,319.2,8.27,6.94,10.80,14303.0,18.2,NaN,...,"8,2","3,7",8,18.758,17.420,"16,8",32.3,"5,1","22,5","28,6"
490,2022,Rioja,9766689.0,320.9,6.87,6.83,11.61,13704.0,20.0,NaN,...,"6,9",5,"7,8",19.819,18.414,"16,6",36.0,"4,8","19,6","36,6"
491,2023,Rioja,10568380.0,323.2,8.23,6.18,9.55,14129.0,21.3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
492,2024,Rioja,11225817.0,325.6,8.57,NaN,9.38,14803.0,21.3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
493,2025,Rioja,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN