In [1]:
import pandas as pd

In [15]:
def merge_datasets(df_left:pd.DataFrame, df_right:pd.DataFrame, on1_left:str, on1_right:str, on2_left:str, on2_right:str):
    '''
    Función para hacer merge de dos datasets con las mismas referencias ordenadas pero con variaciones en el nombre. Fuerza el cambio de nombres para hacer merge.
    '''
    values_left = df_left[on1_left].unique()
    values_right = df_right[on1_right].unique()
    dicc = {values_right[i]: values_left[i] for i in range(len(values_right))}
    print(dicc)
    df_right[on1_right] = df_right[on1_right].map(dicc)
    df_right = df_right.rename(columns={on1_right: on1_left})

    df_right = df_right.rename(columns={on2_right: on2_left})


    return pd.merge(df_left, df_right, 'outer', [on1_left, on2_left])

In [31]:
df_pedro = pd.read_csv('../data/processed/datos_pedro.csv', sep='|', index_col=0)
df_mili = pd.read_csv('../data/processed/pib_vs_calidad_vida.csv', sep=',', index_col=0).reset_index()
df_manu = pd.read_csv('../data/interim/alquiler_venta_ccaa.csv', sep=',', index_col=0)

merge_datasets(df_pedro,
               merge_datasets(df_manu, df_mili, 'Comunidad Autonoma', 'Comunidad Autónoma', 'Año', 'año'),
               'com_aut', 'Comunidad Autonoma', 'año', 'Año')

{'Andalucía': 'Andalucia', 'Aragón': 'Aragon', 'Asturias': 'Asturias', 'Balears': 'Baleares', 'Canarias': 'Canarias', 'Cantabria': 'Cantabria', 'Castilla Y León': 'Castilla y León', 'Castilla - La Mancha': 'Castilla-La Mancha', 'Cataluña': 'Cataluña', 'Comunitat Valenciana': 'Ceuta', 'Extremadura': 'Comunidad Valenciana', 'Galicia': 'Euskadi', 'Madrid': 'Extremadura', 'Murcia': 'Galicia', 'Navarra': 'La Rioja', 'País Vasco': 'Madrid', 'Rioja': 'Melilla', 'Ceuta': 'Murcia', 'Melilla': 'Navarra'}
{'Andalucia': 'Andalucía', 'Aragon': 'Aragón', 'Asturias': 'Asturias', 'Baleares': 'Balears', 'Canarias': 'Canarias', 'Cantabria': 'Cantabria', 'Castilla y León': 'Castilla Y León', 'Castilla-La Mancha': 'Castilla - La Mancha', 'Cataluña': 'Cataluña', 'Ceuta': 'Comunitat Valenciana', 'Comunidad Valenciana': 'Extremadura', 'Euskadi': 'Galicia', 'Extremadura': 'Madrid', 'Galicia': 'Murcia', 'La Rioja': 'Navarra', 'Madrid': 'País Vasco', 'Melilla': 'Rioja', 'Murcia': 'Ceuta', 'Navarra': 'Melilla'}

,año,com_aut,pib,pob,sui,nat,paro,ing,pobr,fum,...,gasto_elevado_vivienda(%),falta_espacio_vivienda(%),retrasos_pagos(%),renta_media,renta_mediana,riesgo_pobreza(%),dificultad_fin_mes(%),desigualdad_ing(S80/S20),inc_gastos_imprevistos(%),tasa_criminalidad
0,2000,Andalucía,86760722.0,7301.8,NaN,11.08,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2001,Andalucía,93964317.0,7341.5,11.17,11.06,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2002,Andalucía,101269401.0,7437.2,10.36,11.01,NaN,NaN,NaN,31.84,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2003,Andalucía,110093641.0,7544.2,10.35,11.42,NaN,NaN,NaN,30.39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2004,Andalucía,119026615.0,7649.0,11.01,11.64,NaN,NaN,NaN,28.82,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,2021,Rioja,8735750.0,319.2,8.27,6.94,10.80,14303.0,18.2,NaN,...,"8,2","3,7",8,18.758,17.420,"16,8",32.3,"5,1","22,5","28,6"
490,2022,Rioja,9766689.0,320.9,6.87,6.83,11.61,13704.0,20.0,NaN,...,"6,9",5,"7,8",19.819,18.414,"16,6",36.0,"4,8","19,6","36,6"
491,2023,Rioja,10568380.0,323.2,8.23,6.18,9.55,14129.0,21.3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
492,2024,Rioja,11225817.0,325.6,8.57,NaN,9.38,14803.0,21.3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
493,2025,Rioja,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN