In [1]:
import pandas as pd
# pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)

In [ ]:
def merge_datasets(df_left:pd.DataFrame, df_right:pd.DataFrame, on1_left:str, on1_right:str, on2_left:str, on2_right:str):
    '''
    Función para hacer merge de dos datasets con las mismas referencias ordenadas pero con variaciones en el nombre. Fuerza el cambio de nombres para hacer merge.
    '''
    values_left = df_left[on1_left].sort_values().unique()
    values_right = df_right[on1_right].sort_values().unique()
    dicc = {values_right[i]: values_left[i] for i in range(len(values_right))}
    print(dicc)
    df_right[on1_right] = df_right[on1_right].map(dicc)

    df_right = df_right.rename(columns={on1_right: on1_left})
    df_right = df_right.rename(columns={on2_right: on2_left})

    return pd.merge(df_left, df_right, 'outer', [on1_left, on2_left])

In [67]:
merge_datasets(df_manu, df_mili, 'Comunidad Autonoma', 'Comunidad Autónoma', 'Año', 'año')

{'Andalucia': 'Andalucia', 'Aragon': 'Aragon', 'Asturias': 'Asturias', 'Baleares': 'Baleares', 'Canarias': 'Canarias', 'Cantabria': 'Cantabria', 'Castilla y León': 'Castilla y León', 'Castilla-La Mancha': 'Castilla-La Mancha', 'Cataluña': 'Cataluña', 'Ceuta': 'Ceuta', 'Comunidad Valenciana': 'Comunidad Valenciana', 'Euskadi': 'Euskadi', 'Extremadura': 'Extremadura', 'Galicia': 'Galicia', 'La Rioja': 'La Rioja', 'Madrid': 'Madrid', 'Melilla': 'Melilla', 'Murcia': 'Murcia', 'Navarra': 'Navarra'}

,Comunidad Autonoma,Año,precio_medio_anual_eur_m2_venta,precio_medio_anual_eur_m2_alquiler,pib_pc,renta_pc,poblacion,gasto_elevado_vivienda(%),falta_espacio_vivienda(%),retrasos_pagos(%),renta_media,renta_mediana,riesgo_pobreza(%),dificultad_fin_mes(%),desigualdad_ing(S80/S20),inc_gastos_imprevistos(%),tasa_criminalidad
0,Andalucia,2006,1967.75,9.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Andalucia,2007,1915.33,8.62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Andalucia,2008,1839.67,7.99,18638.0,11951.0,7578941.0,"7,3","6,8","7,6",13.859,11.651,"27,3",72.1,6,"38,2",NaN
3,Andalucia,2009,1757.50,7.27,17685.0,11869.0,7627743.0,"8,6","5,7","10,6",14.393,12.695,"27,7",71.8,6,"45,7",NaN
4,Andalucia,2010,1713.33,6.85,17567.0,11773.0,7666919.0,"7,8","4,6","12,9",14.152,12.086,"28,1",73.9,"6,2","52,2","49,3"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
351,Navarra,2021,1448.67,8.87,27365.0,16951.0,278905.0,"8,2","3,7",8,18.758,17.420,"16,8",32.3,"5,1","22,5","28,6"
352,Navarra,2022,1521.67,9.22,30431.0,18089.0,278137.0,"6,9",5,"7,8",19.819,18.414,"16,6",36.0,"4,8","19,6","36,6"
353,Navarra,2023,1637.67,9.59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
354,Navarra,2024,1729.75,10.12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
355,Navarra,2025,1759.18,10.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
df_mili = pd.read_csv('../data/processed/pib_vs_calidad_vida.csv', sep=',', index_col=0).reset_index()

In [78]:
df_mili.iloc[:,0].unique()

array(['Andalucía', 'Aragón', 'Asturias', 'Balears', 'Canarias',
       'Cantabria', 'Castilla Y León', 'Castilla - La Mancha', 'Cataluña',
       'Comunitat Valenciana', 'Extremadura', 'Galicia', 'Madrid',
       'Murcia', 'Navarra', 'País Vasco', 'Rioja', 'Ceuta', 'Melilla'],
      dtype=object)

In [37]:
df_pedro = pd.read_csv('../data/processed/datos_pedro.csv', sep='|', index_col=0)
df_mili = pd.read_csv('../data/processed/pib_vs_calidad_vida.csv', sep=',', index_col=0).reset_index()
df_manu = pd.read_csv('../data/interim/alquiler_venta_ccaa.csv', sep=',', index_col=0)
df_manu.com_aut = df_manu['Comunidad Autonoma'].str.replace('Euskadi', 'País Vasco')


merge_datasets(df_pedro,
               merge_datasets(df_manu, df_mili, 'Comunidad Autonoma', 'Comunidad Autónoma', 'Año', 'año'),
               'com_aut', 'Comunidad Autonoma', 'año', 'Año')

C:\Users\Manuel\AppData\Local\Temp\ipykernel_19692\2253801651.py:4: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df_manu.com_aut = df_manu['Comunidad Autonoma'].str.replace('Euskadi', 'País Vasco')

NameError: name 'merge_datasets' is not defined

In [2]:
df_pedro = pd.read_csv('../data/processed/datos_pedro.csv', sep='|', index_col=0)
df_mili = pd.read_csv('../data/processed/pib_vs_calidad_vida.csv', sep=',', index_col=0).reset_index()
df_manu = pd.read_csv('../data/interim/alquiler_venta_ccaa.csv', sep=',', index_col=0)

In [39]:
display(df_pedro)
display(df_mili)
display(df_manu)

,año,com_aut,pib,pob,sui,nat,paro,ing,pobr,fum,alc,obes,fyv,crim,homi,sati
0,2000,Andalucía,86760722,7301.8,NaN,11.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,Aragón,20431675,1200.8,NaN,8.29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,Asturias,14156303,1066.1,NaN,6.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,Balears,16505108,823.4,NaN,11.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,Canarias,24986123,1667.4,NaN,11.12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,2024,Navarra,26605806,680.9,9.28,NaN,9.94,17748.0,14.8,NaN,NaN,NaN,NaN,52.7,0.59,79.1
471,2024,País Vasco,91625715,2233.9,5.82,NaN,7.73,19086.0,15.0,NaN,NaN,NaN,NaN,48.4,0.31,75.6
472,2024,Rioja,11225817,325.6,8.57,NaN,9.38,14803.0,21.3,NaN,NaN,NaN,NaN,36.7,1.84,73.2
473,2024,Ceuta,1936392,83.4,5.65,NaN,29.97,14555.0,39.8,NaN,NaN,NaN,NaN,42.5,0.00,70.4
474,2024,Melilla,1826316,86.4,7.19,NaN,26.62,15221.0,33.4,NaN,NaN,NaN,NaN,50.5,0.00,79.0

,Comunidad Autónoma,año,pib_pc,renta_pc,poblacion,gasto_elevado_vivienda(%),falta_espacio_vivienda(%),retrasos_pagos(%),renta_media,renta_mediana,riesgo_pobreza(%),dificultad_fin_mes(%),desigualdad_ing(S80/S20),inc_gastos_imprevistos(%),tasa_criminalidad
0,Andalucía,2008,18638,11951.0,7578941,"7,3","6,8","7,6",13.859,11.651,"27,3",72.1,6,"38,2",NaN
1,Aragón,2008,26519,16062.0,1172026,"7,5","3,1","3,4",17.107,16.303,"14,9",44.2,"4,7","15,5",NaN
2,Asturias,2008,21987,15480.0,1039334,"3,7","1,9","3,5",17.383,14.964,"13,2",46.0,"4,9",20,NaN
3,Balears,2008,26377,15910.0,849808,"19,4",3,"8,5",16.496,14.329,"18,1",58.6,"5,9","30,4",NaN
4,Canarias,2008,20476,12875.0,1792121,11,"9,3",11,13.418,11.815,"30,7",80.6,"5,6","49,6",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280,Navarra,2022,34726,20127.0,590642,8,"6,7","10,8",23.578,21.212,"10,9",39.5,"5,4","21,5",50
281,País Vasco,2022,36300,22773.0,2023557,"7,3",3,"7,2",23.886,21.638,"12,2",31.6,5,"18,7",46
282,Rioja,2022,30431,18089.0,278137,"6,9",5,"7,8",19.819,18.414,"16,6",36.0,"4,8","19,6","36,6"
283,Ceuta,2022,21299,15590.0,78207,"9,5","16,9","24,1",18.864,14.750,"34,8",60.3,11,47,"43,9"
284,Melilla,2022,19455,14720.0,73495,"13,2","18,6","23,1",19.849,16.253,"34,5",47.5,"12,4","45,3","50,8"

,Comunidad Autonoma,Año,precio_medio_anual_eur_m2_venta,precio_medio_anual_eur_m2_alquiler
0,Andalucia,2006,1967.75,9.60
1,Andalucia,2007,1915.33,8.62
2,Andalucia,2008,1839.67,7.99
3,Andalucia,2009,1757.50,7.27
4,Andalucia,2010,1713.33,6.85
...,...,...,...,...
361,Navarra,2021,1448.67,8.87
362,Navarra,2022,1521.67,9.22
363,Navarra,2023,1637.67,9.59
364,Navarra,2024,1729.75,10.12
365,Navarra,2025,1759.18,10.58

In [3]:
COL_CCAA = 'Comunidad Autónoma'
df_pedro.rename(columns={'com_aut': COL_CCAA}, inplace=True)
df_mili.rename(columns={'Comunidad Autónoma': COL_CCAA}, inplace=True)
df_manu.rename(columns={'Comunidad Autonoma': COL_CCAA}, inplace=True)

COL_ANIO = 'año'
df_manu.rename(columns={'Año': COL_ANIO}, inplace=True)

In [41]:
df_pedro.duplicated(['Comunidad Autónoma', 'año']).any()

np.False_

In [42]:
df_mili.duplicated(['Comunidad Autónoma', 'año']).any()

np.False_

In [43]:
df_manu.duplicated(['Comunidad Autónoma', 'año']).any()

np.False_

In [45]:
display(df_pedro["Comunidad Autónoma"].unique())
display(df_mili["Comunidad Autónoma"].unique())
display(df_manu["Comunidad Autónoma"].unique())

array(['Andalucía', 'Aragón', 'Asturias', 'Balears', 'Canarias',
       'Cantabria', 'Castilla Y León', 'Castilla - La Mancha', 'Cataluña',
       'Comunitat Valenciana', 'Extremadura', 'Galicia', 'Madrid',
       'Murcia', 'Navarra', 'País Vasco', 'Rioja', 'Ceuta', 'Melilla'],
      dtype=object)

array(['Andalucía', 'Aragón', 'Asturias', 'Balears', 'Canarias',
       'Cantabria', 'Castilla Y León', 'Castilla - La Mancha', 'Cataluña',
       'Comunitat Valenciana', 'Extremadura', 'Galicia', 'Madrid',
       'Murcia', 'Navarra', 'País Vasco', 'Rioja', 'Ceuta', 'Melilla'],
      dtype=object)

array(['Andalucia', 'Aragon', 'Asturias', 'Baleares', 'Canarias',
       'Cantabria', 'Castilla y León', 'Castilla-La Mancha', 'Cataluña',
       'Ceuta', 'Comunidad Valenciana', 'Euskadi', 'Extremadura',
       'Galicia', 'La Rioja', 'Madrid', 'Melilla', 'Murcia', 'Navarra'],
      dtype=object)

In [46]:
lst_ccaa = ['Andalucía', 'Aragón', 'Asturias', 'Baleares', 'Canarias',
            'Cantabria', 'Castilla Y León', 'Castilla - La Mancha', 'Cataluña',
            'Comunidad Valenciana', 'Extremadura', 'Galicia', 'Madrid',
            'Murcia', 'Navarra', 'País Vasco', 'Rioja', 'Ceuta', 'Melilla']

In [4]:
ccaa_map = {
    # Andalucía
    'Andalucia': 'Andalucía',
    'Andalucía': 'Andalucía',

    # Aragón
    'Aragon': 'Aragón',
    'Aragón': 'Aragón',

    # Baleares
    'Balears': 'Baleares',
    'Baleares': 'Baleares',

    # Castilla y León
    'Castilla y León': 'Castilla Y León',
    'Castilla Y León': 'Castilla Y León',

    # Castilla-La Mancha
    'Castilla-La Mancha': 'Castilla - La Mancha',
    'Castilla - La Mancha': 'Castilla - La Mancha',

    # Comunidad Valenciana
    'Comunitat Valenciana': 'Comunidad Valenciana',
    'Comunidad Valenciana': 'Comunidad Valenciana',

    # País Vasco
    'País Vasco': 'País Vasco',
    'Euskadi': 'País Vasco',

    # Rioja
    'La Rioja': 'Rioja',
    'Rioja': 'Rioja',

    # Resto
    'Asturias': 'Asturias',
    'Canarias': 'Canarias',
    'Cantabria': 'Cantabria',
    'Cataluña': 'Cataluña',
    'Extremadura': 'Extremadura',
    'Galicia': 'Galicia',
    'Madrid': 'Madrid',
    'Murcia': 'Murcia',
    'Navarra': 'Navarra',
    'Ceuta': 'Ceuta',
    'Melilla': 'Melilla'
}

In [5]:
for df in [df_pedro, df_mili, df_manu]:
    df[COL_CCAA] = (
        df[COL_CCAA]
        .astype(str)
        .str.strip()
        .replace(ccaa_map)
    )

In [49]:
display(df_pedro['Comunidad Autónoma'].unique())
display(df_mili['Comunidad Autónoma'].unique())
display(df_manu['Comunidad Autónoma'].unique())

array(['Andalucía', 'Aragón', 'Asturias', 'Baleares', 'Canarias',
       'Cantabria', 'Castilla Y León', 'Castilla - La Mancha', 'Cataluña',
       'Comunidad Valenciana', 'Extremadura', 'Galicia', 'Madrid',
       'Murcia', 'Navarra', 'País Vasco', 'Rioja', 'Ceuta', 'Melilla'],
      dtype=object)

array(['Andalucía', 'Aragón', 'Asturias', 'Baleares', 'Canarias',
       'Cantabria', 'Castilla Y León', 'Castilla - La Mancha', 'Cataluña',
       'Comunidad Valenciana', 'Extremadura', 'Galicia', 'Madrid',
       'Murcia', 'Navarra', 'País Vasco', 'Rioja', 'Ceuta', 'Melilla'],
      dtype=object)

array(['Andalucía', 'Aragón', 'Asturias', 'Baleares', 'Canarias',
       'Cantabria', 'Castilla Y León', 'Castilla - La Mancha', 'Cataluña',
       'Ceuta', 'Comunidad Valenciana', 'País Vasco', 'Extremadura',
       'Galicia', 'Rioja', 'Madrid', 'Melilla', 'Murcia', 'Navarra'],
      dtype=object)

In [50]:
display(df_pedro.columns)
display(df_mili.columns)
display(df_manu.columns)

Index(['año', 'Comunidad Autónoma', 'pib', 'pob', 'sui', 'nat', 'paro', 'ing',
       'pobr', 'fum', 'alc', 'obes', 'fyv', 'crim', 'homi', 'sati'],
      dtype='object')

Index(['Comunidad Autónoma', 'año', 'pib_pc', 'renta_pc', 'poblacion',
       'gasto_elevado_vivienda(%)', 'falta_espacio_vivienda(%)',
       'retrasos_pagos(%)', 'renta_media', 'renta_mediana',
       'riesgo_pobreza(%)', 'dificultad_fin_mes(%)',
       'desigualdad_ing(S80/S20)', 'inc_gastos_imprevistos(%)',
       'tasa_criminalidad'],
      dtype='object')

Index(['Comunidad Autónoma', 'año', 'precio_medio_anual_eur_m2_venta',
       'precio_medio_anual_eur_m2_alquiler'],
      dtype='object')

In [6]:
df_merge = pd.merge(
    df_pedro,
    df_mili,
    on=[COL_CCAA, COL_ANIO],
    how='outer'
)
df_merge

,año,Comunidad Autónoma,pib,pob,sui,nat,paro,ing,pobr,fum,alc,obes,fyv,crim,homi,sati,pib_pc,renta_pc,poblacion,gasto_elevado_vivienda(%),falta_espacio_vivienda(%),retrasos_pagos(%),renta_media,renta_mediana,riesgo_pobreza(%),dificultad_fin_mes(%),desigualdad_ing(S80/S20),inc_gastos_imprevistos(%),tasa_criminalidad
0,2000,Andalucía,86760722,7301.8,NaN,11.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2001,Andalucía,93964317,7341.5,11.17,11.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2002,Andalucía,101269401,7437.2,10.36,11.01,NaN,NaN,NaN,31.84,NaN,17.47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2003,Andalucía,110093641,7544.2,10.35,11.42,NaN,NaN,NaN,30.39,NaN,17.62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2004,Andalucía,119026615,7649.0,11.01,11.64,NaN,NaN,NaN,28.82,NaN,17.96,75.64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,2020,Rioja,8186915,319.1,8.75,7.33,9.96,13371.0,15.0,NaN,NaN,NaN,NaN,24.5,1.57,NaN,25654.0,16489.0,279704.0,"4,6","2,6","8,2",19.698,17.589,"16,9",27.7,"4,7","24,5","24,5"
471,2021,Rioja,8735750,319.2,8.27,6.94,10.80,14303.0,18.2,NaN,NaN,NaN,NaN,28.6,0.94,74.0,27365.0,16951.0,278905.0,"8,2","3,7",8,18.758,17.420,"16,8",32.3,"5,1","22,5","28,6"
472,2022,Rioja,9766689,320.9,6.87,6.83,11.61,13704.0,20.0,NaN,NaN,NaN,NaN,36.6,0.31,75.8,30431.0,18089.0,278137.0,"6,9",5,"7,8",19.819,18.414,"16,6",36.0,"4,8","19,6","36,6"
473,2023,Rioja,10568380,323.2,8.23,6.18,9.55,14129.0,21.3,NaN,NaN,NaN,NaN,37.6,0.93,73.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
474,2024,Rioja,11225817,325.6,8.57,NaN,9.38,14803.0,21.3,NaN,NaN,NaN,NaN,36.7,1.84,73.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df_final = pd.merge(
    df_merge,
    df_manu,
    on=[COL_CCAA, COL_ANIO],
    how='outer'
)

In [ ]:
df_final

,año,Comunidad Autónoma,pib,pob,sui,nat,paro,ing,pobr,fum,alc,obes,fyv,crim,homi,sati,pib_pc,renta_pc,poblacion,gasto_elevado_vivienda(%),falta_espacio_vivienda(%),retrasos_pagos(%),renta_media,renta_mediana,riesgo_pobreza(%),dificultad_fin_mes(%),desigualdad_ing(S80/S20),inc_gastos_imprevistos(%),tasa_criminalidad,precio_medio_anual_eur_m2_venta,precio_medio_anual_eur_m2_alquiler
0,2000,Andalucía,86760722.0,7301.8,NaN,11.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2001,Andalucía,93964317.0,7341.5,11.17,11.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2002,Andalucía,101269401.0,7437.2,10.36,11.01,NaN,NaN,NaN,31.84,NaN,17.47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2003,Andalucía,110093641.0,7544.2,10.35,11.42,NaN,NaN,NaN,30.39,NaN,17.62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2004,Andalucía,119026615.0,7649.0,11.01,11.64,NaN,NaN,NaN,28.82,NaN,17.96,75.64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,2021,Rioja,8735750.0,319.2,8.27,6.94,10.80,14303.0,18.2,NaN,NaN,NaN,NaN,28.6,0.94,74.0,27365.0,16951.0,278905.0,"8,2","3,7",8,18.758,17.420,"16,8",32.3,"5,1","22,5","28,6",1238.25,6.83
490,2022,Rioja,9766689.0,320.9,6.87,6.83,11.61,13704.0,20.0,NaN,NaN,NaN,NaN,36.6,0.31,75.8,30431.0,18089.0,278137.0,"6,9",5,"7,8",19.819,18.414,"16,6",36.0,"4,8","19,6","36,6",1263.50,7.17
491,2023,Rioja,10568380.0,323.2,8.23,6.18,9.55,14129.0,21.3,NaN,NaN,NaN,NaN,37.6,0.93,73.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1283.67,7.48
492,2024,Rioja,11225817.0,325.6,8.57,NaN,9.38,14803.0,21.3,NaN,NaN,NaN,NaN,36.7,1.84,73.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1337.17,8.02
493,2025,Rioja,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1377.82,8.87

In [9]:
print(len(df_pedro), len(df_mili), len(df_manu), len(df_final))

475 285 338 494