# Cuaderno de limpieza de Pedro Herrero Bas

In [48]:
import sys
from pathlib import Path

ROOT_DIR = Path().resolve().parents[1]
sys.path.append(str(ROOT_DIR))

In [49]:
import pandas as pd

from src.utils import filtrar_columna

In [20]:
df_pib = pd.read_csv('../../data/interim/datos_pedro.csv', sep='|', index_col=0)
df_pib.sample(20)

,año,com_aut,pib,pob,sui,nat,paro,ing,pobr,fum,alc,obes,fyv,crim,homi,sati
421,2022,Balears,37.187.160,"1.198,5",7.09,7.58,14.32,11771.0,22.1,NaN,NaN,NaN,NaN,63.4,0.25,"72,9"
390,2020,Extremadura,19.497.343,"1.062,5",7.05,6.97,21.53,9150.0,36.3,NaN,NaN,NaN,NaN,23.6,0.85,NaN
373,2019,Madrid,243.889.359,"6.661,4",5.10,8.34,12.22,13863.0,20.1,NaN,NaN,NaN,NaN,61.2,0.48,NaN
305,2016,Aragón,34.542.128,"1.316,2",9.45,8.30,16.29,12931.0,16.4,NaN,NaN,NaN,NaN,29.0,0.61,NaN
253,2013,Castilla Y León,51.280.425,"2.504,7",7.32,7.11,19.80,11230.0,NaN,NaN,2.12,NaN,NaN,NaN,NaN,"50,1"
378,2019,Ceuta,1.659.979,"84,8",1.11,9.96,29.01,10637.0,46.1,NaN,NaN,NaN,NaN,56.0,4.72,NaN
396,2020,Rioja,8.186.915,"319,1",8.75,7.33,9.96,13371.0,15.0,NaN,NaN,NaN,NaN,24.5,1.57,NaN
108,2005,Murcia,24.272.350,"1.335,3",10.17,12.98,NaN,NaN,NaN,26.68,NaN,22.22,71.69,NaN,NaN,NaN
224,2011,País Vasco,63.907.269,"2.184,0",5.50,9.69,10.69,14906.0,NaN,NaN,1.99,NaN,NaN,41.0,0.55,NaN
268,2014,Asturias,20.636.251,"1.053,5",12.16,6.26,24.13,11645.0,NaN,NaN,NaN,NaN,NaN,27.0,0.66,NaN
83,2004,Castilla - La Mancha,30.276.086,"1.849,7",8.32,10.01,NaN,NaN,NaN,26.97,NaN,17.19,79.94,NaN,NaN,NaN
391,2020,Galicia,59.007.178,"2.698,8",9.57,5.65,11.76,11497.0,24.2,NaN,NaN,NaN,NaN,27.2,0.41,NaN
157,2008,Cantabria,13.280.853,"581,2",2.69,10.13,5.96,NaN,NaN,22.88,5.57,17.50,20.60,NaN,NaN,NaN
443,2023,Castilla Y León,70.374.556,"2.387,7",8.80,5.23,9.93,13869.0,21.5,NaN,NaN,NaN,NaN,NaN,NaN,"71,3"
308,2016,Canarias,40.979.670,"2.106,9",8.79,7.54,29.11,8921.0,38.0,NaN,NaN,NaN,NaN,42.1,1.00,NaN
384,2020,Canarias,37.587.399,"2.180,4",8.56,5.87,20.49,9765.0,37.7,NaN,NaN,NaN,NaN,38.4,0.55,NaN
220,2011,Galicia,55.816.965,"2.771,7",9.16,7.79,15.32,10825.0,NaN,NaN,0.59,NaN,NaN,29.5,0.51,NaN
43,2002,Cantabria,9.208.673,"538,6",4.76,8.47,NaN,NaN,NaN,32.78,NaN,14.38,NaN,NaN,NaN,NaN
361,2019,Andalucía,166.478.730,"8.432,1",7.71,8.21,22.99,9643.0,42.3,NaN,NaN,NaN,NaN,40.2,0.97,NaN
226,2011,Ceuta,1.491.191,"82,9",6.86,14.06,23.92,10696.0,NaN,NaN,0.00,NaN,NaN,75.9,4.82,NaN

In [21]:
df_pib.info()

<class 'pandas.core.frame.DataFrame'>
Index: 475 entries, 0 to 474
Data columns (total 16 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   año      475 non-null    int64
 1   com_aut  475 non-null    object
 2   pib      475 non-null    object
 3   pob      475 non-null    object
 4   sui      456 non-null    float64
 5   nat      456 non-null    float64
 6   paro     342 non-null    float64
 7   ing      304 non-null    float64
 8   pobr     190 non-null    float64
 9   fum      171 non-null    float64
 10  alc      133 non-null    float64
 11  obes     171 non-null    float64
 12  fyv      133 non-null    float64
 13  crim     270 non-null    float64
 14  homi     270 non-null    float64
 15  sati     114 non-null    object
dtypes: float64(11), int64(1), object(4)
memory usage: 63.1+ KB

*Existen datos como PIB, población y satisfacción que me indica como objetos, voy a pasarlos a tipo, int y float, como deberían ser.*

In [22]:
df_pib.pib = df_pib.pib.str.replace('.', '').astype(int)
df_pib.pob = df_pib.pob.str.replace('.', '').str.replace(',', '.').astype(float)
df_pib.sati = df_pib.sati.str.replace(',', '.').astype(float)

In [24]:
df_pib.info()

<class 'pandas.core.frame.DataFrame'>
Index: 475 entries, 0 to 474
Data columns (total 16 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   año      475 non-null    int64
 1   com_aut  475 non-null    object
 2   pib      475 non-null    int64
 3   pob      475 non-null    float64
 4   sui      456 non-null    float64
 5   nat      456 non-null    float64
 6   paro     342 non-null    float64
 7   ing      304 non-null    float64
 8   pobr     190 non-null    float64
 9   fum      171 non-null    float64
 10  alc      133 non-null    float64
 11  obes     171 non-null    float64
 12  fyv      133 non-null    float64
 13  crim     270 non-null    float64
 14  homi     270 non-null    float64
 15  sati     114 non-null    float64
dtypes: float64(13), int64(2), object(1)
memory usage: 63.1+ KB

In [50]:
df_x_com = filtrar_columna(df_pib, 'com_aut')

In [52]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [58]:
df_x_com[0]

,año,pib,pob,sui,nat,paro,ing,pobr,fum,alc,obes,fyv,crim,homi,sati
com_aut,,,,,,,,,,,,,,,
Andalucía,2000,86760722,7301.8,NaN,11.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Andalucía,2001,93964317,7341.5,11.17,11.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Andalucía,2002,101269401,7437.2,10.36,11.01,NaN,NaN,NaN,31.84,NaN,17.47,NaN,NaN,NaN,NaN
Andalucía,2003,110093641,7544.2,10.35,11.42,NaN,NaN,NaN,30.39,NaN,17.62,NaN,NaN,NaN,NaN
Andalucía,2004,119026615,7649.0,11.01,11.64,NaN,NaN,NaN,28.82,NaN,17.96,75.64,NaN,NaN,NaN
Andalucía,2005,129255761,7803.4,10.18,11.76,NaN,NaN,NaN,26.65,NaN,19.64,72.82,NaN,NaN,NaN
Andalucía,2006,139373481,7923.9,10.05,12.03,NaN,NaN,NaN,27.09,NaN,21.15,64.91,NaN,NaN,NaN
Andalucía,2007,149010277,8052.8,10.18,11.93,12.62,NaN,NaN,24.37,4.40,19.90,72.77,NaN,NaN,NaN
Andalucía,2008,152247439,8168.6,9.90,12.28,12.76,NaN,NaN,22.67,3.88,21.00,64.18,NaN,NaN,NaN
Andalucía,2009,145802256,8244.5,10.87,11.48,17.73,9437.0,NaN,20.93,1.29,19.67,80.82,NaN,NaN,NaN
Andalucía,2010,145853901,8302.9,9.89,11.10,25.24,9882.0,NaN,18.23,1.88,16.70,49.48,49.3,0.94,NaN
Andalucía,2011,144494494,8352.8,8.84,10.72,27.77,9793.0,NaN,NaN,2.06,NaN,NaN,48.7,1.02,NaN
Andalucía,2012,139052618,8378.3,8.30,10.30,30.13,9241.0,NaN,NaN,0.89,NaN,NaN,47.1,0.81,NaN
Andalucía,2013,137294091,8381.3,9.78,9.71,34.35,9361.0,NaN,NaN,1.31,NaN,NaN,44.6,0.78,58.7
Andalucía,2014,139135225,8381.4,10.10,9.80,36.22,8897.0,NaN,NaN,NaN,NaN,NaN,42.0,0.82,NaN
Andalucía,2015,146406094,8386.1,9.70,9.60,34.78,8607.0,42.4,NaN,NaN,NaN,NaN,40.2,0.78,NaN
Andalucía,2016,149901897,8390.7,8.41,9.43,31.54,8402.0,42.8,NaN,NaN,NaN,NaN,39.5,0.81,NaN
Andalucía,2017,156789484,8388.4,8.13,8.89,28.89,8864.0,42.5,NaN,NaN,NaN,NaN,39.9,0.58,NaN
Andalucía,2018,161894301,8392.1,8.29,8.45,25.51,9560.0,39.2,NaN,NaN,NaN,NaN,39.9,0.86,62.9
Andalucía,2019,166478730,8432.1,7.71,8.21,22.99,9643.0,42.3,NaN,NaN,NaN,NaN,40.2,0.97,NaN
Andalucía,2020,150452909,8465.9,7.52,7.72,21.19,9566.0,39.0,NaN,NaN,NaN,NaN,34.0,0.72,NaN
Andalucía,2021,166296356,8488.2,9.28,7.72,22.28,10472.0,36.3,NaN,NaN,NaN,NaN,37.1,0.65,68.3
Andalucía,2022,184051418,8547.7,9.78,7.37,21.85,10388.0,38.0,NaN,NaN,NaN,NaN,44.4,0.86,67.3
Andalucía,2023,199696056,8608.0,9.44,7.13,19.12,11267.0,34.6,NaN,NaN,NaN,NaN,48.0,0.83,70.6
Andalucía,2024,212573759,8653.1,9.14,NaN,18.24,12389.0,35.9,NaN,NaN,NaN,NaN,47.3,0.95,66.7

In [60]:
df_x_com[1]

,año,pib,pob,sui,nat,paro,ing,pobr,fum,alc,obes,fyv,crim,homi,sati
com_aut,,,,,,,,,,,,,,,
Aragón,2000,20431675,1200.8,NaN,8.29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Aragón,2001,21935008,1203.2,7.94,8.62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Aragón,2002,23732938,1217.6,7.02,8.51,NaN,NaN,NaN,29.44,NaN,12.97,NaN,NaN,NaN,NaN
Aragón,2003,25329113,1231.4,9.33,8.93,NaN,NaN,NaN,28.85,NaN,12.44,NaN,NaN,NaN,NaN
Aragón,2004,26975682,1244.5,6.77,9.21,NaN,NaN,NaN,26.34,NaN,15.41,84.06,NaN,NaN,NaN
Aragón,2005,28982156,1263.8,8.28,9.20,NaN,NaN,NaN,24.77,NaN,15.69,84.29,NaN,NaN,NaN
Aragón,2006,31411624,1283.0,7.64,9.57,NaN,NaN,NaN,25.87,NaN,15.65,77.89,NaN,NaN,NaN
Aragón,2007,34148523,1309.4,6.09,9.82,5.52,NaN,NaN,23.93,3.33,16.58,77.94,NaN,NaN,NaN
Aragón,2008,35439689,1336.4,7.31,10.23,5.30,NaN,NaN,24.13,1.34,15.73,80.04,NaN,NaN,NaN
Aragón,2009,33814117,1344.5,7.21,9.72,7.29,11963.0,NaN,17.76,2.98,15.75,86.35,NaN,NaN,NaN
Aragón,2010,34100336,1343.8,8.05,9.63,13.05,12904.0,NaN,15.48,2.49,17.85,65.74,38.1,0.74,NaN
Aragón,2011,33631537,1344.5,6.75,9.38,14.96,12527.0,NaN,NaN,1.26,NaN,NaN,37.3,0.45,NaN
Aragón,2012,32169749,1340.0,6.16,8.94,17.07,12172.0,NaN,NaN,1.15,NaN,NaN,34.6,0.45,NaN
Aragón,2013,32323922,1334.0,7.04,8.74,18.67,12540.0,NaN,NaN,1.52,NaN,NaN,32.0,0.52,71.0
Aragón,2014,32602458,1327.6,6.99,8.73,21.39,12617.0,NaN,NaN,NaN,NaN,NaN,30.5,0.38,NaN
Aragón,2015,33265930,1320.9,8.35,8.59,20.17,12663.0,19.4,NaN,NaN,NaN,NaN,29.1,0.68,NaN
Aragón,2016,34542128,1316.2,9.45,8.30,16.29,12931.0,16.4,NaN,NaN,NaN,NaN,29.0,0.61,NaN
Aragón,2017,35983544,1315.3,7.96,8.00,14.74,12223.0,18.1,NaN,NaN,NaN,NaN,28.8,0.61,NaN
Aragón,2018,37213896,1315.9,7.10,7.58,11.65,12653.0,15.8,NaN,NaN,NaN,NaN,30.7,0.68,86.1
Aragón,2019,38465053,1324.4,8.46,7.28,10.63,12425.0,17.6,NaN,NaN,NaN,NaN,32.2,0.45,NaN
Aragón,2020,35955571,1331.5,7.75,6.83,10.03,12853.0,20.2,NaN,NaN,NaN,NaN,27.1,0.30,NaN
Aragón,2021,38782157,1330.7,7.07,7.21,11.70,13716.0,18.6,NaN,NaN,NaN,NaN,31.4,0.38,74.8
Aragón,2022,43655726,1334.8,8.11,6.73,10.33,14023.0,19.4,NaN,NaN,NaN,NaN,35.9,0.74,74.9
Aragón,2023,46431013,1346.4,8.09,6.44,9.62,14792.0,17.6,NaN,NaN,NaN,NaN,37.8,0.67,76.4
Aragón,2024,49292871,1352.5,7.14,NaN,8.58,15633.0,18.8,NaN,NaN,NaN,NaN,39.6,0.59,72.8

In [61]:
df_x_com[2]

,año,pib,pob,sui,nat,paro,ing,pobr,fum,alc,obes,fyv,crim,homi,sati
com_aut,,,,,,,,,,,,,,,
Asturias,2000,14156303,1066.1,NaN,6.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Asturias,2001,15252724,1063.7,13.66,6.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Asturias,2002,16131558,1062.1,12.09,6.34,NaN,NaN,NaN,26.81,NaN,14.89,NaN,NaN,NaN,NaN
Asturias,2003,17036426,1062.2,11.81,6.69,NaN,NaN,NaN,25.90,NaN,13.28,NaN,NaN,NaN,NaN
Asturias,2004,18115298,1062.1,10.85,6.80,NaN,NaN,NaN,26.25,NaN,14.05,73.61,NaN,NaN,NaN
Asturias,2005,19638043,1062.6,11.23,7.04,NaN,NaN,NaN,27.18,NaN,21.74,73.64,NaN,NaN,NaN
Asturias,2006,21339027,1063.8,10.44,7.14,NaN,NaN,NaN,21.76,NaN,18.65,75.12,NaN,NaN,NaN
Asturias,2007,22873639,1068.0,10.76,7.33,9.16,NaN,NaN,19.08,6.67,18.64,74.75,NaN,NaN,NaN
Asturias,2008,23614274,1074.0,10.35,7.65,8.41,NaN,NaN,23.78,5.32,21.68,75.54,NaN,NaN,NaN
Asturias,2009,22366414,1076.4,9.47,7.63,8.50,12412.0,NaN,19.24,3.87,19.12,72.70,NaN,NaN,NaN
Asturias,2010,22590616,1076.2,9.77,7.21,13.42,13103.0,NaN,12.46,1.73,15.67,43.26,26.5,1.77,NaN
Asturias,2011,22261796,1075.1,12.15,7.24,15.92,12986.0,NaN,NaN,2.72,NaN,NaN,27.1,0.84,NaN
Asturias,2012,21265200,1070.4,9.87,7.12,17.84,12182.0,NaN,NaN,0.57,NaN,NaN,28.2,0.56,NaN
Asturias,2013,20693890,1062.6,10.74,6.28,21.83,12134.0,NaN,NaN,1.70,NaN,NaN,28.3,0.75,68.4
Asturias,2014,20636251,1053.5,12.16,6.26,24.13,11645.0,NaN,NaN,NaN,NaN,NaN,27.0,0.66,NaN
Asturias,2015,21388142,1043.5,12.29,6.18,21.13,11777.0,21.5,NaN,NaN,NaN,NaN,25.9,0.38,NaN
Asturias,2016,21675441,1036.5,11.10,6.12,19.11,11957.0,22.1,NaN,NaN,NaN,NaN,25.2,0.58,NaN
Asturias,2017,22538267,1029.3,10.87,5.84,17.62,12424.0,19.5,NaN,NaN,NaN,NaN,24.9,0.49,NaN
Asturias,2018,23185680,1023.6,11.29,5.60,13.71,12696.0,17.9,NaN,NaN,NaN,NaN,25.8,0.68,72.6
Asturias,2019,23666618,1019.2,11.05,5.05,13.61,12464.0,21.8,NaN,NaN,NaN,NaN,26.7,0.69,NaN
Asturias,2020,21376392,1014.6,10.67,4.70,14.19,13074.0,23.7,NaN,NaN,NaN,NaN,24.0,0.49,NaN
Asturias,2021,23617641,1007.3,10.12,4.74,14.12,13351.0,25.8,NaN,NaN,NaN,NaN,26.1,0.10,68.4
Asturias,2022,26698594,1005.5,11.04,4.72,12.35,13421.0,25.3,NaN,NaN,NaN,NaN,31.9,0.60,71.8
Asturias,2023,28356243,1007.8,10.52,4.51,12.52,14348.0,23.5,NaN,NaN,NaN,NaN,33.7,0.60,71.4
Asturias,2024,30010316,1011.9,12.18,NaN,12.13,16028.0,23.5,NaN,NaN,NaN,NaN,34.0,0.69,70.7

In [62]:
df_x_com[3]

,año,pib,pob,sui,nat,paro,ing,pobr,fum,alc,obes,fyv,crim,homi,sati
com_aut,,,,,,,,,,,,,,,
Balears,2000,16505108,823.4,NaN,11.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Balears,2001,17867937,836.9,7.61,11.44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Balears,2002,18912404,866.1,6.68,12.03,NaN,NaN,NaN,31.78,NaN,12.77,NaN,NaN,NaN,NaN
Balears,2003,19867979,898.6,7.25,11.86,NaN,NaN,NaN,28.55,NaN,12.62,NaN,NaN,NaN,NaN
Balears,2004,21228501,924.0,8.91,11.68,NaN,NaN,NaN,27.00,NaN,12.14,71.58,NaN,NaN,NaN
Balears,2005,22962215,954.6,7.70,11.44,NaN,NaN,NaN,25.68,NaN,14.27,76.85,NaN,NaN,NaN
Balears,2006,24935415,987.2,7.66,11.83,NaN,NaN,NaN,22.73,NaN,15.09,76.25,NaN,NaN,NaN
Balears,2007,26749452,1025.2,7.43,11.62,6.44,NaN,NaN,23.03,4.26,13.23,76.33,NaN,NaN,NaN
Balears,2008,27892127,1057.4,7.62,12.02,7.16,NaN,NaN,23.09,1.38,15.49,67.23,NaN,NaN,NaN
Balears,2009,26770420,1078.1,8.16,11.17,10.16,11909.0,NaN,20.54,1.70,16.35,21.48,NaN,NaN,NaN
Balears,2010,26797013,1087.6,10.00,11.00,17.92,12492.0,NaN,20.92,1.59,14.54,70.84,64.5,0.55,NaN
Balears,2011,26646250,1095.5,9.22,10.28,20.12,12189.0,NaN,NaN,1.11,NaN,NaN,68.0,1.10,NaN
Balears,2012,26224305,1101.4,8.54,9.96,21.86,11689.0,NaN,NaN,0.11,NaN,NaN,67.7,0.45,NaN
Balears,2013,26227926,1105.8,8.30,9.46,23.17,11513.0,NaN,NaN,2.82,NaN,NaN,66.8,0.90,72.7
Balears,2014,27108615,1108.6,10.05,9.53,22.26,10928.0,NaN,NaN,NaN,NaN,NaN,62.0,1.08,NaN
Balears,2015,28653742,1113.5,8.71,9.38,20.00,11317.0,22.7,NaN,NaN,NaN,NaN,59.9,0.72,NaN
Balears,2016,30233284,1123.0,8.54,9.29,17.31,11412.0,26.4,NaN,NaN,NaN,NaN,60.7,0.80,NaN
Balears,2017,31746251,1133.7,8.03,8.88,13.89,13068.0,19.9,NaN,NaN,NaN,NaN,63.6,0.35,NaN
Balears,2018,33185968,1148.0,8.81,8.75,12.43,13664.0,24.0,NaN,NaN,NaN,NaN,64.2,0.70,89.7
Balears,2019,34350576,1166.1,6.10,8.08,11.52,14103.0,15.5,NaN,NaN,NaN,NaN,66.6,0.51,NaN
Balears,2020,26669106,1179.5,8.06,7.78,11.74,13169.0,14.3,NaN,NaN,NaN,NaN,50.7,0.59,NaN
Balears,2021,30512146,1182.3,7.03,7.81,16.14,13565.0,18.0,NaN,NaN,NaN,NaN,51.6,0.51,72.9
Balears,2022,37187160,1198.5,7.09,7.58,14.32,11771.0,22.1,NaN,NaN,NaN,NaN,63.4,0.25,72.9
Balears,2023,41413124,1220.8,9.02,7.16,10.62,13056.0,20.3,NaN,NaN,NaN,NaN,64.2,0.65,74.1
Balears,2024,44591139,1238.3,6.99,NaN,10.32,14942.0,18.1,NaN,NaN,NaN,NaN,64.9,0.57,79.0

In [63]:
df_x_com[4]

,año,pib,pob,sui,nat,paro,ing,pobr,fum,alc,obes,fyv,crim,homi,sati
com_aut,,,,,,,,,,,,,,,
Canarias,2000,24986123,1667.4,NaN,11.12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Canarias,2001,27237439,1687.3,9.63,10.96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Canarias,2002,29101803,1730.7,7.85,11.24,NaN,NaN,NaN,34.16,NaN,14.02,NaN,NaN,NaN,NaN
Canarias,2003,31104840,1779.5,7.86,10.83,NaN,NaN,NaN,29.86,NaN,14.56,NaN,NaN,NaN,NaN
Canarias,2004,32847221,1826.8,7.96,10.51,NaN,NaN,NaN,29.77,NaN,16.10,60.88,NaN,NaN,NaN
Canarias,2005,35103749,1876.4,8.90,10.73,NaN,NaN,NaN,27.21,NaN,15.21,66.80,NaN,NaN,NaN
Canarias,2006,37445827,1921.8,9.04,10.75,NaN,NaN,NaN,21.88,NaN,18.22,62.62,NaN,NaN,NaN
Canarias,2007,39902031,1968.0,9.66,10.03,11.62,NaN,NaN,22.65,2.41,19.25,62.43,NaN,NaN,NaN
Canarias,2008,41156055,2010.0,8.39,10.28,10.45,NaN,NaN,22.29,1.12,19.26,73.51,NaN,NaN,NaN
Canarias,2009,39505370,2034.2,9.72,9.32,17.25,9416.0,NaN,20.69,1.55,17.50,65.47,NaN,NaN,NaN
Canarias,2010,39738165,2053.1,8.60,8.92,26.01,9333.0,NaN,16.08,0.87,20.64,63.47,45.8,0.83,NaN
Canarias,2011,39611706,2074.0,7.87,8.40,28.60,9608.0,NaN,NaN,0.30,NaN,NaN,47.7,0.82,NaN
Canarias,2012,38239602,2087.6,6.88,8.22,29.28,8823.0,NaN,NaN,0.56,NaN,NaN,46.9,0.72,NaN
Canarias,2013,38066975,2096.2,8.97,7.52,32.58,8806.0,NaN,NaN,0.86,NaN,NaN,44.5,0.62,61.8
Canarias,2014,38312937,2097.3,8.97,7.74,33.73,8906.0,NaN,NaN,NaN,NaN,NaN,43.0,0.57,NaN
Canarias,2015,39636569,2099.3,8.33,7.59,32.41,8578.0,41.5,NaN,NaN,NaN,NaN,42.7,0.95,NaN
Canarias,2016,40979670,2106.9,8.79,7.54,29.11,8921.0,38.0,NaN,NaN,NaN,NaN,42.1,1.00,NaN
Canarias,2017,43035839,2120.4,8.18,7.29,26.06,9080.0,46.4,NaN,NaN,NaN,NaN,43.1,0.94,NaN
Canarias,2018,44609266,2139.2,9.04,6.75,23.46,9257.0,39.7,NaN,NaN,NaN,NaN,42.4,1.17,78.9
Canarias,2019,45766832,2163.0,8.44,6.37,20.07,9134.0,40.0,NaN,NaN,NaN,NaN,44.2,0.92,NaN
Canarias,2020,37587399,2180.4,8.56,5.87,20.49,9765.0,37.7,NaN,NaN,NaN,NaN,38.4,0.55,NaN
Canarias,2021,41407275,2176.9,8.85,5.67,22.62,10252.0,39.8,NaN,NaN,NaN,NaN,37.3,0.73,69.7
Canarias,2022,48865336,2199.3,9.75,5.56,23.46,10589.0,36.1,NaN,NaN,NaN,NaN,43.4,0.58,66.6
Canarias,2023,54170695,2225.9,9.97,5.39,17.63,11194.0,34.1,NaN,NaN,NaN,NaN,46.9,0.76,70.1
Canarias,2024,58289432,2248.4,10.05,NaN,16.08,12712.0,32.2,NaN,NaN,NaN,NaN,47.6,0.62,70.0

In [64]:
df_x_com[5]

,año,pib,pob,sui,nat,paro,ing,pobr,fum,alc,obes,fyv,crim,homi,sati
com_aut,,,,,,,,,,,,,,,
Cantabria,2000,7985491,533.6,NaN,8.16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cantabria,2001,8636331,534.6,5.01,8.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cantabria,2002,9208673,538.6,4.76,8.47,NaN,NaN,NaN,32.78,NaN,14.38,NaN,NaN,NaN,NaN
Cantabria,2003,9699398,544.9,5.35,8.94,NaN,NaN,NaN,28.62,NaN,11.97,NaN,NaN,NaN,NaN
Cantabria,2004,10327246,551.0,6.28,9.18,NaN,NaN,NaN,31.34,NaN,14.09,66.44,NaN,NaN,NaN
Cantabria,2005,11148678,558.0,4.37,9.44,NaN,NaN,NaN,27.63,NaN,12.21,65.93,NaN,NaN,NaN
Cantabria,2006,11951944,564.2,5.39,9.27,NaN,NaN,NaN,23.92,NaN,11.12,76.39,NaN,NaN,NaN
Cantabria,2007,12838674,572.6,4.32,9.39,6.46,NaN,NaN,21.40,2.66,15.08,57.46,NaN,NaN,NaN
Cantabria,2008,13280853,581.2,2.69,10.13,5.96,NaN,NaN,22.88,5.57,17.50,20.60,NaN,NaN,NaN
Cantabria,2009,12811684,586.8,3.98,9.58,7.16,11736.0,NaN,18.88,0.89,13.68,59.69,NaN,NaN,NaN
Cantabria,2010,12882755,589.6,5.52,9.46,12.00,12697.0,NaN,9.94,1.30,11.83,54.28,29.7,0.34,NaN
Cantabria,2011,12680314,591.6,3.34,9.03,13.70,11563.0,NaN,NaN,0.21,NaN,NaN,30.8,0.34,NaN
Cantabria,2012,12224935,590.8,6.02,8.57,15.29,11031.0,NaN,NaN,0.82,NaN,NaN,31.0,0.17,NaN
Cantabria,2013,11944124,588.4,6.14,8.21,17.80,10932.0,NaN,NaN,0.68,NaN,NaN,29.3,0.68,63.3
Cantabria,2014,12158496,586.0,5.08,7.79,20.44,10395.0,NaN,NaN,NaN,NaN,NaN,29.3,0.51,NaN
Cantabria,2015,12443843,583.4,6.36,7.50,19.42,10324.0,28.2,NaN,NaN,NaN,NaN,28.7,0.51,NaN
Cantabria,2016,12833899,581.4,6.30,7.30,17.65,10968.0,19.7,NaN,NaN,NaN,NaN,29.2,0.00,NaN
Cantabria,2017,13318023,581.0,6.36,7.09,14.89,11133.0,25.3,NaN,NaN,NaN,NaN,30.0,0.52,NaN
Cantabria,2018,13843935,581.2,4.42,6.55,13.56,11873.0,19.9,NaN,NaN,NaN,NaN,30.4,0.34,77.2
Cantabria,2019,14274351,582.3,4.58,6.10,10.67,11715.0,24.5,NaN,NaN,NaN,NaN,31.0,1.03,NaN
Cantabria,2020,12991241,583.1,5.92,5.85,10.28,12705.0,19.6,NaN,NaN,NaN,NaN,28.4,0.17,NaN
Cantabria,2021,14206538,584.6,7.00,5.63,12.14,13205.0,23.4,NaN,NaN,NaN,NaN,34.0,0.68,68.1
Cantabria,2022,15560453,586.9,7.31,5.49,11.25,13337.0,21.4,NaN,NaN,NaN,NaN,40.4,0.17,68.6
Cantabria,2023,16722660,589.6,9.03,5.05,9.57,14338.0,19.3,NaN,NaN,NaN,NaN,41.1,0.00,71.5
Cantabria,2024,17639726,592.1,6.81,NaN,8.14,14680.0,21.6,NaN,NaN,NaN,NaN,41.9,0.51,71.0

In [65]:
df_x_com[6]

,año,pib,pob,sui,nat,paro,ing,pobr,fum,alc,obes,fyv,crim,homi,sati
com_aut,,,,,,,,,,,,,,,
Castilla Y León,2000,35666620,2467.7,NaN,7.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Castilla Y León,2001,37939899,2459.0,9.34,7.16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Castilla Y León,2002,40240849,2458.0,7.97,7.36,NaN,NaN,NaN,28.68,NaN,11.55,NaN,NaN,NaN,NaN
Castilla Y León,2003,42711006,2467.4,8.37,7.54,NaN,NaN,NaN,24.84,NaN,12.04,NaN,NaN,NaN,NaN
Castilla Y León,2004,45368864,2475.3,9.09,7.64,NaN,NaN,NaN,23.52,NaN,13.66,84.07,NaN,NaN,NaN
Castilla Y León,2005,48377632,2487.5,8.22,7.81,NaN,NaN,NaN,28.44,NaN,12.68,84.66,NaN,NaN,NaN
Castilla Y León,2006,51563915,2502.6,6.97,7.90,NaN,NaN,NaN,22.81,NaN,13.84,83.43,NaN,NaN,NaN
Castilla Y León,2007,55130537,2528.4,7.17,7.94,8.11,NaN,NaN,21.60,3.47,15.47,78.01,NaN,NaN,NaN
Castilla Y León,2008,56295496,2546.4,7.94,8.37,7.13,NaN,NaN,22.70,4.55,13.22,81.11,NaN,NaN,NaN
Castilla Y León,2009,54452146,2547.6,7.87,8.01,9.62,10852.0,NaN,18.98,3.59,16.82,83.80,NaN,NaN,NaN
Castilla Y León,2010,54692531,2545.4,8.07,8.05,13.98,11590.0,NaN,19.00,2.32,15.90,77.12,NaN,NaN,NaN
Castilla Y León,2011,54328993,2541.4,7.68,7.82,15.80,11355.0,NaN,NaN,4.73,NaN,NaN,NaN,NaN,NaN
Castilla Y León,2012,52589720,2525.5,6.49,7.54,16.86,11221.0,NaN,NaN,2.31,NaN,NaN,NaN,NaN,NaN
Castilla Y León,2013,51280425,2504.7,7.32,7.11,19.80,11230.0,NaN,NaN,2.12,NaN,NaN,NaN,NaN,50.1
Castilla Y León,2014,51383670,2483.0,7.58,7.20,21.75,11123.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Castilla Y León,2015,53183396,2462.2,8.76,7.06,20.77,10807.0,25.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Castilla Y León,2016,54630532,2442.3,7.82,6.82,18.26,10998.0,22.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Castilla Y León,2017,55879293,2421.6,7.73,6.40,15.82,11218.0,21.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Castilla Y León,2018,58326859,2408.6,7.97,6.24,14.08,11697.0,18.2,NaN,NaN,NaN,NaN,NaN,NaN,75.5
Castilla Y León,2019,59649198,2400.5,7.76,5.96,12.10,12474.0,18.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Castilla Y León,2020,54794589,2389.2,7.92,5.71,11.63,12530.0,16.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Castilla Y León,2021,59465900,2376.7,8.19,5.50,12.06,13236.0,18.4,NaN,NaN,NaN,NaN,NaN,NaN,72.1
Castilla Y León,2022,65461058,2379.6,8.81,5.52,11.61,13258.0,21.9,NaN,NaN,NaN,NaN,NaN,NaN,70.5
Castilla Y León,2023,70374556,2387.7,8.80,5.23,9.93,13869.0,21.5,NaN,NaN,NaN,NaN,NaN,NaN,71.3
Castilla Y León,2024,74621197,2395.6,7.40,NaN,9.68,14696.0,22.0,NaN,NaN,NaN,NaN,NaN,NaN,71.8

In [66]:
df_x_com[7]

,año,pib,pob,sui,nat,paro,ing,pobr,fum,alc,obes,fyv,crim,homi,sati
com_aut,,,,,,,,,,,,,,,
Castilla - La Mancha,2000,22364758,1746.7,NaN,9.64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Castilla - La Mancha,2001,24300480,1756.6,8.72,9.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Castilla - La Mancha,2002,26093633,1777.8,7.70,9.63,NaN,NaN,NaN,28.83,NaN,15.38,NaN,NaN,NaN,NaN
Castilla - La Mancha,2003,28278754,1815.0,8.15,9.95,NaN,NaN,NaN,24.12,NaN,17.10,NaN,NaN,NaN,NaN
Castilla - La Mancha,2004,30276086,1849.7,8.32,10.01,NaN,NaN,NaN,26.97,NaN,17.19,79.94,NaN,NaN,NaN
Castilla - La Mancha,2005,33056938,1895.2,9.33,10.03,NaN,NaN,NaN,28.95,NaN,18.38,81.37,NaN,NaN,NaN
Castilla - La Mancha,2006,35995174,1941.2,8.14,10.50,NaN,NaN,NaN,24.52,NaN,20.59,74.64,NaN,NaN,NaN
Castilla - La Mancha,2007,39219857,2003.3,7.63,10.42,8.84,NaN,NaN,23.41,7.76,19.70,68.95,NaN,NaN,NaN
Castilla - La Mancha,2008,40786424,2050.5,7.22,11.24,7.66,NaN,NaN,24.55,5.37,20.32,86.74,NaN,NaN,NaN
Castilla - La Mancha,2009,39355657,2075.9,7.72,10.75,11.67,9530.0,NaN,20.60,2.37,14.40,80.40,NaN,NaN,NaN
Castilla - La Mancha,2010,39436268,2090.6,7.69,10.52,18.88,10082.0,NaN,19.39,0.46,19.86,68.32,34.3,0.57,NaN
Castilla - La Mancha,2011,39056838,2103.3,6.83,10.16,21.22,10335.0,NaN,NaN,0.68,NaN,NaN,35.4,0.38,NaN
Castilla - La Mancha,2012,37644363,2098.3,6.91,9.71,23.08,9547.0,NaN,NaN,1.64,NaN,NaN,35.5,0.81,NaN
Castilla - La Mancha,2013,36910747,2083.1,7.53,9.15,28.58,9231.0,NaN,NaN,0.44,NaN,NaN,35.3,0.72,66.7
Castilla - La Mancha,2014,36136765,2067.3,8.93,8.90,29.97,8759.0,NaN,NaN,NaN,NaN,NaN,34.0,0.77,NaN
Castilla - La Mancha,2015,37998035,2054.1,9.05,8.87,29.00,8938.0,36.1,NaN,NaN,NaN,NaN,32.6,0.63,NaN
Castilla - La Mancha,2016,39136242,2043.8,7.80,8.71,26.35,8868.0,34.3,NaN,NaN,NaN,NaN,31.1,0.54,NaN
Castilla - La Mancha,2017,40768959,2034.1,6.33,8.29,23.55,9085.0,36.6,NaN,NaN,NaN,NaN,31.5,0.59,NaN
Castilla - La Mancha,2018,42290925,2032.1,7.47,7.80,20.77,9405.0,33.9,NaN,NaN,NaN,NaN,33.6,0.39,75.5
Castilla - La Mancha,2019,43393303,2040.7,6.10,7.51,18.16,9837.0,32.6,NaN,NaN,NaN,NaN,34.5,0.54,NaN
Castilla - La Mancha,2020,40254360,2045.9,7.24,7.21,16.21,10061.0,30.4,NaN,NaN,NaN,NaN,30.3,0.83,NaN
Castilla - La Mancha,2021,44123986,2050.9,8.43,7.10,17.68,10797.0,31.3,NaN,NaN,NaN,NaN,32.9,0.49,69.1
Castilla - La Mancha,2022,50022532,2071.2,7.77,7.01,15.67,10700.0,32.2,NaN,NaN,NaN,NaN,39.1,0.91,66.9
Castilla - La Mancha,2023,52978061,2094.3,8.44,6.72,14.64,11536.0,30.2,NaN,NaN,NaN,NaN,40.0,0.72,71.9
Castilla - La Mancha,2024,56187856,2113.3,7.14,NaN,13.21,12559.0,30.6,NaN,NaN,NaN,NaN,39.5,0.62,67.8

In [67]:
df_x_com[8]

,año,pib,pob,sui,nat,paro,ing,pobr,fum,alc,obes,fyv,crim,homi,sati
com_aut,,,,,,,,,,,,,,,
Cataluña,2000,122568772,6297.2,NaN,10.21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cataluña,2001,132816296,6330.9,7.66,10.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cataluña,2002,141683092,6470.1,7.86,10.59,NaN,NaN,NaN,31.40,NaN,11.14,NaN,NaN,NaN,NaN
Cataluña,2003,151640414,6639.1,7.93,11.03,NaN,NaN,NaN,28.38,NaN,11.48,NaN,NaN,NaN,NaN
Cataluña,2004,162519729,6782.3,7.20,11.35,NaN,NaN,NaN,23.68,NaN,14.50,81.45,NaN,NaN,NaN
Cataluña,2005,174583886,6944.2,7.33,11.49,NaN,NaN,NaN,24.18,NaN,14.06,73.16,NaN,NaN,NaN
Cataluña,2006,189253240,7076.7,6.22,11.63,NaN,NaN,NaN,22.97,NaN,14.25,60.75,NaN,NaN,NaN
Cataluña,2007,202742146,7232.3,5.49,11.62,6.49,NaN,NaN,23.65,4.05,15.02,66.21,NaN,NaN,NaN
Cataluña,2008,208161832,7377.1,5.35,12.10,6.47,NaN,NaN,22.53,1.79,14.94,74.39,NaN,NaN,NaN
Cataluña,2009,200745296,7447.3,5.84,11.44,8.89,13048.0,NaN,20.91,1.09,14.20,77.65,NaN,NaN,NaN
Cataluña,2010,202602183,7477.3,5.94,11.28,16.22,13425.0,NaN,13.80,1.41,13.77,63.94,62.2,1.30,NaN
Cataluña,2011,199939125,7504.0,5.69,10.83,17.66,13586.0,NaN,NaN,1.59,NaN,NaN,60.6,1.01,NaN
Cataluña,2012,194512765,7499.4,6.36,10.33,19.16,12881.0,NaN,NaN,0.99,NaN,NaN,60.4,0.99,NaN
Cataluña,2013,193328965,7456.3,7.16,9.62,22.51,12862.0,NaN,NaN,1.43,NaN,NaN,57.9,0.58,67.1
Cataluña,2014,196999531,7419.6,7.35,9.67,23.12,12759.0,NaN,NaN,NaN,NaN,NaN,57.0,0.77,NaN
Cataluña,2015,206434270,7424.0,7.11,9.53,20.33,12797.0,23.5,NaN,NaN,NaN,NaN,56.0,0.57,NaN
Cataluña,2016,214502547,7452.8,6.62,9.29,18.60,12887.0,18.3,NaN,NaN,NaN,NaN,54.2,0.72,NaN
Cataluña,2017,223139777,7495.6,6.75,8.97,15.72,13214.0,18.7,NaN,NaN,NaN,NaN,56.3,0.87,NaN
Cataluña,2018,231101287,7571.0,6.62,8.46,13.41,13272.0,19.1,NaN,NaN,NaN,NaN,62.3,0.59,80.3
Cataluña,2019,240165818,7673.0,6.75,8.09,11.49,13941.0,17.7,NaN,NaN,NaN,NaN,63.8,0.76,NaN
Cataluña,2020,214857435,7729.9,6.81,7.64,11.03,14268.0,17.3,NaN,NaN,NaN,NaN,45.7,0.62,NaN
Cataluña,2021,234820402,7734.5,7.05,7.52,12.63,14990.0,21.4,NaN,NaN,NaN,NaN,50.5,0.74,74.4
Cataluña,2022,258786739,7831.9,7.18,7.19,11.69,14943.0,20.9,NaN,NaN,NaN,NaN,60.7,0.79,71.7
Cataluña,2023,283104060,7957.1,7.55,6.81,9.97,15443.0,19.0,NaN,NaN,NaN,NaN,64.1,0.89,74.0
Cataluña,2024,301894399,8066.4,7.58,NaN,9.33,16677.0,19.7,NaN,NaN,NaN,NaN,63.4,0.86,71.5

In [68]:
df_x_com[9]

,año,pib,pob,sui,nat,paro,ing,pobr,fum,alc,obes,fyv,crim,homi,sati
com_aut,,,,,,,,,,,,,,,
Comunitat Valenciana,2000,62769305,4118.0,NaN,10.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Comunitat Valenciana,2001,68573071,4150.8,9.15,10.27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Comunitat Valenciana,2002,73368886,4254.3,8.52,10.39,NaN,NaN,NaN,33.95,NaN,13.85,NaN,NaN,NaN,NaN
Comunitat Valenciana,2003,78234975,4381.6,7.30,10.80,NaN,NaN,NaN,30.92,NaN,14.63,NaN,NaN,NaN,NaN
Comunitat Valenciana,2004,83792686,4496.1,8.68,10.89,NaN,NaN,NaN,29.95,NaN,15.79,81.13,NaN,NaN,NaN
Comunitat Valenciana,2005,90325604,4625.3,8.29,10.95,NaN,NaN,NaN,28.19,NaN,15.53,80.51,NaN,NaN,NaN
Comunitat Valenciana,2006,98090683,4736.7,8.73,11.14,NaN,NaN,NaN,27.56,NaN,17.33,83.23,NaN,NaN,NaN
Comunitat Valenciana,2007,104836698,4867.7,7.90,11.19,8.33,NaN,NaN,21.96,5.75,17.27,79.24,NaN,NaN,NaN
Comunitat Valenciana,2008,107950942,4959.6,8.30,11.51,8.74,NaN,NaN,24.76,2.18,18.75,86.32,NaN,NaN,NaN
Comunitat Valenciana,2009,101989994,4984.4,7.65,10.51,11.99,10310.0,NaN,19.88,2.06,16.66,80.60,NaN,NaN,NaN
Comunitat Valenciana,2010,101870024,4988.9,7.83,10.36,20.76,11018.0,NaN,21.16,1.71,14.64,39.69,57.6,0.92,NaN
Comunitat Valenciana,2011,100387555,5002.1,8.03,9.89,22.86,11077.0,NaN,NaN,0.66,NaN,NaN,56.9,0.92,NaN
Comunitat Valenciana,2012,95835883,4999.1,6.56,9.52,23.99,10682.0,NaN,NaN,2.16,NaN,NaN,55.6,1.02,NaN
Comunitat Valenciana,2013,95110090,4970.0,7.98,8.90,27.19,10451.0,NaN,NaN,0.50,NaN,NaN,52.4,0.64,69.5
Comunitat Valenciana,2014,97256083,4951.7,7.89,8.96,28.05,9840.0,NaN,NaN,NaN,NaN,NaN,50.0,0.65,NaN
Comunitat Valenciana,2015,101214206,4937.2,7.43,8.81,25.82,9556.0,32.6,NaN,NaN,NaN,NaN,47.5,0.97,NaN
Comunitat Valenciana,2016,104205396,4936.3,6.79,8.52,22.78,9549.0,32.7,NaN,NaN,NaN,NaN,46.6,0.61,NaN
Comunitat Valenciana,2017,108666712,4940.3,6.68,8.18,20.61,9723.0,30.6,NaN,NaN,NaN,NaN,46.0,0.83,NaN
Comunitat Valenciana,2018,112749574,4962.0,7.73,7.68,18.17,10288.0,30.8,NaN,NaN,NaN,NaN,46.7,0.50,77.9
Comunitat Valenciana,2019,116588528,5015.1,7.72,7.47,15.59,10761.0,29.5,NaN,NaN,NaN,NaN,46.4,0.80,NaN
Comunitat Valenciana,2020,106067171,5055.7,8.55,7.10,14.11,11132.0,27.2,NaN,NaN,NaN,NaN,38.2,0.73,NaN
Comunitat Valenciana,2021,116386906,5072.7,8.34,7.06,16.19,11926.0,28.8,NaN,NaN,NaN,NaN,44.4,0.69,71.9
Comunitat Valenciana,2022,127671811,5162.2,7.50,6.90,16.08,11803.0,29.2,NaN,NaN,NaN,NaN,51.0,0.72,71.1
Comunitat Valenciana,2023,139404217,5267.7,8.07,6.72,13.30,12430.0,26.7,NaN,NaN,NaN,NaN,54.6,0.65,73.6
Comunitat Valenciana,2024,148200412,5367.5,8.45,NaN,12.80,13449.0,27.7,NaN,NaN,NaN,NaN,52.9,1.06,73.4

In [69]:
df_x_com[10]

,año,pib,pob,sui,nat,paro,ing,pobr,fum,alc,obes,fyv,crim,homi,sati
com_aut,,,,,,,,,,,,,,,
Extremadura,2000,11111196,1059.2,NaN,9.57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Extremadura,2001,11906392,1058.4,7.65,9.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Extremadura,2002,12696756,1058.0,6.69,9.24,NaN,NaN,NaN,30.16,NaN,15.40,NaN,NaN,NaN,NaN
Extremadura,2003,13574328,1062.4,9.08,9.38,NaN,NaN,NaN,28.75,NaN,18.97,NaN,NaN,NaN,NaN
Extremadura,2004,14509199,1066.2,6.78,9.28,NaN,NaN,NaN,24.97,NaN,17.68,80.59,NaN,NaN,NaN
Extremadura,2005,15776610,1072.0,8.83,9.32,NaN,NaN,NaN,26.28,NaN,21.54,74.22,NaN,NaN,NaN
Extremadura,2006,16826962,1077.9,8.98,9.39,NaN,NaN,NaN,24.69,NaN,21.64,62.76,NaN,NaN,NaN
Extremadura,2007,18136908,1085.8,6.66,9.19,13.31,NaN,NaN,25.61,4.32,16.80,64.43,NaN,NaN,NaN
Extremadura,2008,18842360,1091.5,7.26,9.84,12.98,NaN,NaN,23.90,5.65,19.28,67.49,NaN,NaN,NaN
Extremadura,2009,18370208,1097.1,7.19,9.40,15.35,8407.0,NaN,25.32,0.84,12.82,57.88,NaN,NaN,NaN
Extremadura,2010,18652452,1100.4,6.87,9.20,20.63,9481.0,NaN,21.48,2.24,16.28,57.29,27.3,0.27,NaN
Extremadura,2011,18273867,1103.5,7.39,9.01,22.97,9414.0,NaN,NaN,1.83,NaN,NaN,26.7,0.91,NaN
Extremadura,2012,17579526,1101.9,6.10,8.55,25.08,9176.0,NaN,NaN,1.59,NaN,NaN,26.7,1.18,NaN
Extremadura,2013,17606422,1098.5,6.63,8.09,33.08,8597.0,NaN,NaN,1.56,NaN,NaN,26.7,0.64,59.1
Extremadura,2014,17564650,1094.2,6.42,8.38,33.87,8675.0,NaN,NaN,NaN,NaN,NaN,25.8,0.37,NaN
Extremadura,2015,18494971,1088.4,5.65,8.18,29.79,8101.0,38.2,NaN,NaN,NaN,NaN,25.0,0.09,NaN
Extremadura,2016,19069471,1082.5,5.12,8.12,29.09,8947.0,34.7,NaN,NaN,NaN,NaN,24.3,0.65,NaN
Extremadura,2017,20169546,1075.1,7.10,7.92,27.52,9078.0,35.2,NaN,NaN,NaN,NaN,24.6,0.74,NaN
Extremadura,2018,20713254,1069.4,6.60,7.33,26.22,8683.0,42.8,NaN,NaN,NaN,NaN,25.1,0.37,83.8
Extremadura,2019,21166132,1065.6,6.15,7.20,23.64,8917.0,43.3,NaN,NaN,NaN,NaN,25.9,0.47,NaN
Extremadura,2020,19497343,1062.5,7.05,6.97,21.53,9150.0,36.3,NaN,NaN,NaN,NaN,23.6,0.85,NaN
Extremadura,2021,21551517,1058.4,8.16,6.87,21.80,9575.0,37.7,NaN,NaN,NaN,NaN,25.8,0.38,75.2
Extremadura,2022,23479961,1055.6,7.02,6.46,20.16,9865.0,38.1,NaN,NaN,NaN,NaN,30.4,0.28,68.0
Extremadura,2023,25148240,1054.5,8.33,6.46,17.32,10561.0,36.4,NaN,NaN,NaN,NaN,33.5,0.38,74.7
Extremadura,2024,26586634,1053.9,6.95,NaN,17.37,11903.0,31.8,NaN,NaN,NaN,NaN,32.9,0.66,74.0

In [70]:
df_x_com[11]

,año,pib,pob,sui,nat,paro,ing,pobr,fum,alc,obes,fyv,crim,homi,sati
com_aut,,,,,,,,,,,,,,,
Galicia,2000,33439492,2699.0,NaN,7.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Galicia,2001,36029481,2696.0,10.59,7.18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Galicia,2002,38440880,2699.5,9.47,7.16,NaN,NaN,NaN,26.42,NaN,11.43,NaN,NaN,NaN,NaN
Galicia,2003,41139764,2707.3,10.05,7.54,NaN,NaN,NaN,22.97,NaN,14.37,NaN,NaN,NaN,NaN
Galicia,2004,44249719,2714.1,11.91,7.60,NaN,NaN,NaN,22.41,NaN,16.87,74.64,NaN,NaN,NaN
Galicia,2005,47955337,2724.0,10.57,7.74,NaN,NaN,NaN,22.24,NaN,16.85,69.81,NaN,NaN,NaN
Galicia,2006,51960207,2733.4,11.47,7.83,NaN,NaN,NaN,20.28,NaN,19.18,71.53,NaN,NaN,NaN
Galicia,2007,56005680,2747.1,10.29,7.92,8.35,NaN,NaN,19.14,6.32,20.66,63.73,NaN,NaN,NaN
Galicia,2008,58253982,2760.0,10.33,8.40,7.57,NaN,NaN,17.83,2.42,18.35,57.69,NaN,NaN,NaN
Galicia,2009,56253055,2769.1,9.95,8.14,8.64,9764.0,NaN,17.71,0.93,16.49,69.25,NaN,NaN,NaN
Galicia,2010,56787248,2771.8,11.37,7.95,12.44,10307.0,NaN,14.91,1.08,17.88,60.69,28.0,0.61,NaN
Galicia,2011,55816965,2771.7,9.16,7.79,15.32,10825.0,NaN,NaN,0.59,NaN,NaN,29.5,0.51,NaN
Galicia,2012,54021344,2764.6,10.02,7.63,17.26,10746.0,NaN,NaN,0.87,NaN,NaN,30.1,0.58,NaN
Galicia,2013,54038718,2752.1,10.97,7.17,20.53,10598.0,NaN,NaN,1.34,NaN,NaN,29.5,0.55,45.3
Galicia,2014,54411393,2737.6,11.07,7.17,22.04,10464.0,NaN,NaN,NaN,NaN,NaN,28.6,0.73,NaN
Galicia,2015,57010602,2723.4,12.19,7.13,21.65,10525.0,24.1,NaN,NaN,NaN,NaN,28.1,0.70,NaN
Galicia,2016,58564023,2712.1,10.47,7.03,19.31,10484.0,24.7,NaN,NaN,NaN,NaN,27.4,0.44,NaN
Galicia,2017,60630852,2702.7,11.07,6.82,17.15,10789.0,25.3,NaN,NaN,NaN,NaN,27.4,0.48,NaN
Galicia,2018,62649363,2699.0,10.61,6.14,15.67,11108.0,22.3,NaN,NaN,NaN,NaN,29.1,0.30,64.4
Galicia,2019,64502005,2698.7,8.86,5.82,13.34,11438.0,24.8,NaN,NaN,NaN,NaN,29.7,0.59,NaN
Galicia,2020,59007178,2698.8,9.57,5.65,11.76,11497.0,24.2,NaN,NaN,NaN,NaN,27.2,0.41,NaN
Galicia,2021,64387386,2691.0,9.91,5.50,12.02,11863.0,24.8,NaN,NaN,NaN,NaN,32.8,0.67,69.0
Galicia,2022,71637767,2696.1,10.93,5.38,11.54,11835.0,24.1,NaN,NaN,NaN,NaN,35.2,0.26,64.8
Galicia,2023,77293057,2702.6,10.40,5.18,11.04,12695.0,23.6,NaN,NaN,NaN,NaN,35.1,0.67,67.3
Galicia,2024,81606895,2710.7,10.16,NaN,9.72,13557.0,25.4,NaN,NaN,NaN,NaN,35.2,0.67,69.2

In [71]:
df_x_com[12]

,año,pib,pob,sui,nat,paro,ing,pobr,fum,alc,obes,fyv,crim,homi,sati
com_aut,,,,,,,,,,,,,,,
Madrid,2000,113369166,5353.4,NaN,10.83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Madrid,2001,123638301,5405.0,4.34,11.16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Madrid,2002,132944643,5561.6,4.96,11.36,NaN,NaN,NaN,36.00,NaN,12.14,NaN,NaN,NaN,NaN
Madrid,2003,142555275,5708.4,5.01,11.75,NaN,NaN,NaN,28.19,NaN,9.70,NaN,NaN,NaN,NaN
Madrid,2004,153296904,5808.0,5.06,11.88,NaN,NaN,NaN,26.54,NaN,12.00,76.92,NaN,NaN,NaN
Madrid,2005,165661958,5912.3,5.42,11.73,NaN,NaN,NaN,25.06,NaN,13.50,79.00,NaN,NaN,NaN
Madrid,2006,180932461,6003.9,4.51,11.98,NaN,NaN,NaN,20.94,NaN,14.28,76.26,NaN,NaN,NaN
Madrid,2007,194151492,6152.8,3.71,12.16,6.30,NaN,NaN,23.21,5.12,14.59,78.35,NaN,NaN,NaN
Madrid,2008,201865569,6283.7,2.59,12.54,6.24,NaN,NaN,19.00,3.67,15.87,81.80,NaN,NaN,NaN
Madrid,2009,199290149,6354.1,2.95,11.95,8.61,13089.0,NaN,17.74,1.26,13.42,79.07,NaN,NaN,NaN
Madrid,2010,198289849,6384.4,2.51,11.57,13.86,14100.0,NaN,13.30,0.94,10.30,74.05,62.9,0.80,NaN
Madrid,2011,199623724,6409.1,1.95,11.24,15.84,14089.0,NaN,NaN,1.42,NaN,NaN,61.3,0.72,NaN
Madrid,2012,196359670,6424.0,2.17,10.80,16.33,13695.0,NaN,NaN,1.40,NaN,NaN,61.3,0.75,NaN
Madrid,2013,193344523,6388.7,1.46,10.22,18.53,13636.0,NaN,NaN,1.39,NaN,NaN,59.3,0.58,67.2
Madrid,2014,196018105,6369.1,5.19,10.27,19.76,13506.0,NaN,NaN,NaN,NaN,NaN,57.4,0.64,NaN
Madrid,2015,206231525,6389.8,5.34,10.14,18.74,13221.0,18.8,NaN,NaN,NaN,NaN,57.1,0.47,NaN
Madrid,2016,214469101,6430.9,5.06,9.79,17.06,13182.0,20.0,NaN,NaN,NaN,NaN,58.1,0.51,NaN
Madrid,2017,224373156,6486.3,4.73,9.31,15.72,13319.0,21.6,NaN,NaN,NaN,NaN,58.8,0.60,NaN
Madrid,2018,233735808,6565.5,5.16,8.74,13.34,13855.0,20.3,NaN,NaN,NaN,NaN,59.4,0.55,77.1
Madrid,2019,243889359,6661.4,5.10,8.34,12.22,13863.0,20.1,NaN,NaN,NaN,NaN,61.2,0.48,NaN
Madrid,2020,221061932,6728.8,5.18,7.75,10.62,14806.0,19.1,NaN,NaN,NaN,NaN,46.1,0.56,NaN
Madrid,2021,239837609,6717.7,5.36,7.62,12.49,15365.0,20.0,NaN,NaN,NaN,NaN,51.5,0.55,73.1
Madrid,2022,267385856,6807.6,5.01,7.49,11.69,15504.0,21.2,NaN,NaN,NaN,NaN,58.9,0.66,73.2
Madrid,2023,296082614,6940.6,5.73,7.25,11.22,16347.0,19.8,NaN,NaN,NaN,NaN,59.4,0.48,73.0
Madrid,2024,316241906,7066.0,5.80,NaN,9.95,17513.0,18.3,NaN,NaN,NaN,NaN,56.5,0.30,73.9

In [72]:
df_x_com[13]

,año,pib,pob,sui,nat,paro,ing,pobr,fum,alc,obes,fyv,crim,homi,sati
com_aut,,,,,,,,,,,,,,,
Murcia,2000,16088710,1176.1,NaN,12.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Murcia,2001,17524452,1191.8,11.02,12.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Murcia,2002,19015733,1224.4,8.65,12.65,NaN,NaN,NaN,35.33,NaN,14.22,NaN,NaN,NaN,NaN
Murcia,2003,20644875,1260.7,8.97,13.04,NaN,NaN,NaN,28.60,NaN,15.67,NaN,NaN,NaN,NaN
Murcia,2004,22159238,1291.9,8.53,12.91,NaN,NaN,NaN,29.82,NaN,19.35,78.00,NaN,NaN,NaN
Murcia,2005,24272350,1335.3,10.17,12.98,NaN,NaN,NaN,26.68,NaN,22.22,71.69,NaN,NaN,NaN
Murcia,2006,26355824,1367.4,8.73,13.23,NaN,NaN,NaN,25.01,NaN,20.32,60.04,NaN,NaN,NaN
Murcia,2007,28418142,1404.9,9.84,13.24,7.88,NaN,NaN,25.56,3.92,17.28,73.37,NaN,NaN,NaN
Murcia,2008,29541076,1431.5,7.58,13.54,7.54,NaN,NaN,23.25,4.15,16.11,52.82,NaN,NaN,NaN
Murcia,2009,28076274,1448.5,8.73,12.82,12.44,9751.0,NaN,23.65,0.62,19.08,82.45,NaN,NaN,NaN
Murcia,2010,28372216,1456.5,7.30,12.38,20.32,9859.0,NaN,19.68,1.67,20.12,58.54,39.7,1.03,NaN
Murcia,2011,27698320,1461.1,6.38,11.91,22.87,9451.0,NaN,NaN,0.50,NaN,NaN,39.6,0.68,NaN
Murcia,2012,26950848,1461.2,8.76,11.42,24.99,8933.0,NaN,NaN,0.37,NaN,NaN,39.3,0.68,NaN
Murcia,2013,27046880,1461.9,7.62,11.02,27.61,9094.0,NaN,NaN,1.60,NaN,NaN,37.4,0.34,67.3
Murcia,2014,27239109,1464.0,7.44,11.15,28.98,8876.0,NaN,NaN,NaN,NaN,NaN,36.0,0.55,NaN
Murcia,2015,29168718,1465.7,7.74,10.91,26.59,8281.0,41.8,NaN,NaN,NaN,NaN,36.4,0.82,NaN
Murcia,2016,30009138,1470.9,7.38,10.57,24.62,8326.0,38.0,NaN,NaN,NaN,NaN,34.9,0.82,NaN
Murcia,2017,31192490,1476.3,8.42,10.24,19.78,8595.0,34.5,NaN,NaN,NaN,NaN,35.7,0.95,NaN
Murcia,2018,31715345,1482.5,6.63,9.92,18.03,8958.0,35.1,NaN,NaN,NaN,NaN,37.4,0.74,66.9
Murcia,2019,33000651,1499.0,8.70,9.54,16.76,9331.0,33.4,NaN,NaN,NaN,NaN,38.1,0.87,NaN
Murcia,2020,30440306,1513.8,8.35,9.08,14.68,9373.0,32.7,NaN,NaN,NaN,NaN,33.7,0.66,NaN
Murcia,2021,33603543,1521.4,8.31,9.11,16.18,10423.0,29.8,NaN,NaN,NaN,NaN,38.1,0.92,66.4
Murcia,2022,37408748,1540.7,8.12,8.69,14.71,10558.0,32.0,NaN,NaN,NaN,NaN,44.6,0.51,70.0
Murcia,2023,39416093,1560.1,8.90,8.24,13.58,11254.0,28.8,NaN,NaN,NaN,NaN,47.6,0.96,73.3
Murcia,2024,41901936,1576.9,7.49,NaN,12.78,12006.0,28.7,NaN,NaN,NaN,NaN,47.3,0.89,70.5

In [73]:
df_x_com[14]

,año,pib,pob,sui,nat,paro,ing,pobr,fum,alc,obes,fyv,crim,homi,sati
com_aut,,,,,,,,,,,,,,,
Navarra,2000,11309008,550.0,NaN,9.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Navarra,2001,12052307,554.2,8.63,10.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Navarra,2002,12847752,562.5,7.69,10.31,NaN,NaN,NaN,30.33,NaN,7.25,NaN,NaN,NaN,NaN
Navarra,2003,13652158,572.5,9.68,10.80,NaN,NaN,NaN,27.24,NaN,13.65,NaN,NaN,NaN,NaN
Navarra,2004,14550257,579.8,9.30,10.85,NaN,NaN,NaN,25.60,NaN,14.68,82.10,NaN,NaN,NaN
Navarra,2005,15630219,587.9,10.08,10.46,NaN,NaN,NaN,28.26,NaN,11.17,80.61,NaN,NaN,NaN
Navarra,2006,16772179,596.6,9.17,10.98,NaN,NaN,NaN,23.34,NaN,11.15,77.23,NaN,NaN,NaN
Navarra,2007,17870475,609.8,6.55,10.82,5.37,NaN,NaN,23.17,6.43,11.71,77.52,NaN,NaN,NaN
Navarra,2008,18620264,622.0,10.08,11.30,4.72,NaN,NaN,20.39,2.59,15.37,79.62,NaN,NaN,NaN
Navarra,2009,18001876,630.1,8.67,10.86,6.83,13903.0,NaN,18.17,1.69,13.23,81.46,NaN,NaN,NaN
Navarra,2010,18089072,635.0,9.29,10.67,10.84,14963.0,NaN,17.64,2.47,15.08,65.69,30.7,0.47,NaN
Navarra,2011,18058363,638.6,6.21,10.57,11.90,15205.0,NaN,NaN,3.05,NaN,NaN,32.5,0.78,NaN
Navarra,2012,17377685,639.3,7.97,10.53,12.99,15018.0,NaN,NaN,2.56,NaN,NaN,33.8,0.31,NaN
Navarra,2013,17346722,637.4,7.25,9.54,16.16,14781.0,NaN,NaN,1.40,NaN,NaN,37.5,0.63,75.8
Navarra,2014,17642027,636.8,7.97,9.72,17.93,14356.0,NaN,NaN,NaN,NaN,NaN,41.7,0.16,NaN
Navarra,2015,18334417,637.5,7.42,9.44,15.71,13904.0,13.9,NaN,NaN,NaN,NaN,37.5,0.47,NaN
Navarra,2016,18911331,639.8,8.14,9.24,13.83,13978.0,13.7,NaN,NaN,NaN,NaN,40.2,0.16,NaN
Navarra,2017,19698794,643.1,7.57,8.96,12.48,14282.0,12.6,NaN,NaN,NaN,NaN,38.6,1.09,NaN
Navarra,2018,20235995,648.8,7.36,8.35,10.24,14434.0,11.9,NaN,NaN,NaN,NaN,42.0,1.54,82.0
Navarra,2019,21070268,655.7,5.75,8.23,10.02,14363.0,11.2,NaN,NaN,NaN,NaN,44.5,0.76,NaN
Navarra,2020,19160726,661.0,6.85,7.66,8.24,14632.0,10.2,NaN,NaN,NaN,NaN,35.7,0.15,NaN
Navarra,2021,20821017,661.3,6.50,7.78,10.06,15970.0,11.0,NaN,NaN,NaN,NaN,40.4,0.30,78.6
Navarra,2022,23208786,668.3,8.70,7.12,10.71,16093.0,13.7,NaN,NaN,NaN,NaN,50.0,0.44,77.9
Navarra,2023,24991726,675.2,8.08,6.66,9.74,17006.0,12.0,NaN,NaN,NaN,NaN,52.0,0.89,80.0
Navarra,2024,26605806,680.9,9.28,NaN,9.94,17748.0,14.8,NaN,NaN,NaN,NaN,52.7,0.59,79.1

In [74]:
df_x_com[15]

,año,pib,pob,sui,nat,paro,ing,pobr,fum,alc,obes,fyv,crim,homi,sati
com_aut,,,,,,,,,,,,,,,
País Vasco,2000,40734167,2083.3,NaN,8.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
País Vasco,2001,43515328,2082.5,8.15,8.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
País Vasco,2002,45891095,2087.4,7.09,8.69,NaN,NaN,NaN,31.28,NaN,8.56,NaN,NaN,NaN,NaN
País Vasco,2003,48403686,2097.3,8.81,9.19,NaN,NaN,NaN,26.69,NaN,10.41,NaN,NaN,NaN,NaN
País Vasco,2004,51495040,2107.8,7.51,9.29,NaN,NaN,NaN,21.53,NaN,15.64,76.45,NaN,NaN,NaN
País Vasco,2005,55364217,2121.0,7.82,9.29,NaN,NaN,NaN,27.24,NaN,14.06,73.07,NaN,NaN,NaN
País Vasco,2006,59871764,2134.1,7.52,9.38,NaN,NaN,NaN,23.31,NaN,15.26,78.14,NaN,NaN,NaN
País Vasco,2007,63889516,2151.1,6.69,9.57,7.16,NaN,NaN,22.75,3.94,12.99,76.85,NaN,NaN,NaN
País Vasco,2008,66382420,2166.8,7.82,9.83,6.22,NaN,NaN,19.80,5.70,13.84,78.75,NaN,NaN,NaN
País Vasco,2009,63601702,2177.0,7.52,9.60,6.63,14539.0,NaN,16.09,3.24,13.51,82.96,NaN,NaN,NaN
País Vasco,2010,64424609,2181.1,7.27,9.71,11.34,15435.0,NaN,15.61,3.08,11.79,62.78,41.3,0.46,NaN
País Vasco,2011,63907269,2184.0,5.50,9.69,10.69,14906.0,NaN,NaN,1.99,NaN,NaN,41.0,0.55,NaN
País Vasco,2012,62342907,2180.7,7.45,9.42,12.35,14428.0,NaN,NaN,2.42,NaN,NaN,42.5,0.55,NaN
País Vasco,2013,61496663,2174.8,7.68,8.81,15.60,14324.0,NaN,NaN,1.72,NaN,NaN,41.7,0.60,68.7
País Vasco,2014,62636949,2171.7,7.82,8.95,16.58,14932.0,NaN,NaN,NaN,NaN,NaN,40.6,0.46,NaN
País Vasco,2015,65073341,2171.9,8.09,8.71,16.33,14925.0,15.9,NaN,NaN,NaN,NaN,39.4,0.51,NaN
País Vasco,2016,67114993,2176.8,7.35,8.43,14.78,14318.0,17.4,NaN,NaN,NaN,NaN,38.0,0.28,NaN
País Vasco,2017,69585295,2182.0,7.68,7.88,12.59,14897.0,16.0,NaN,NaN,NaN,NaN,38.4,0.23,NaN
País Vasco,2018,71915111,2190.2,7.63,7.41,11.31,14888.0,15.0,NaN,NaN,NaN,NaN,41.2,0.27,77.0
País Vasco,2019,73999981,2203.0,6.82,7.08,9.97,15294.0,11.9,NaN,NaN,NaN,NaN,42.9,0.45,NaN
País Vasco,2020,66672598,2213.9,5.95,6.73,9.15,15910.0,14.3,NaN,NaN,NaN,NaN,34.9,0.59,NaN
País Vasco,2021,72513029,2204.2,7.36,6.56,9.54,16438.0,13.1,NaN,NaN,NaN,NaN,38.5,0.50,73.4
País Vasco,2022,80260696,2211.1,6.19,6.18,10.29,16255.0,15.1,NaN,NaN,NaN,NaN,46.0,0.36,76.1
País Vasco,2023,86574047,2222.0,7.06,6.06,8.88,17184.0,14.7,NaN,NaN,NaN,NaN,48.6,0.27,75.8
País Vasco,2024,91625715,2233.9,5.82,NaN,7.73,19086.0,15.0,NaN,NaN,NaN,NaN,48.4,0.31,75.6

In [75]:
df_x_com[16]

,año,pib,pob,sui,nat,paro,ing,pobr,fum,alc,obes,fyv,crim,homi,sati
com_aut,,,,,,,,,,,,,,,
Rioja,2000,4931442,274.5,NaN,8.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rioja,2001,5273021,276.2,6.75,8.81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rioja,2002,5566913,281.3,12.30,9.16,NaN,NaN,NaN,29.94,NaN,7.50,NaN,NaN,NaN,NaN
Rioja,2003,6021536,287.7,12.37,9.98,NaN,NaN,NaN,25.20,NaN,10.47,NaN,NaN,NaN,NaN
Rioja,2004,6383746,294.3,9.47,9.99,NaN,NaN,NaN,26.92,NaN,11.03,80.57,NaN,NaN,NaN
Rioja,2005,6868905,300.6,9.39,10.11,NaN,NaN,NaN,29.43,NaN,14.66,79.24,NaN,NaN,NaN
Rioja,2006,7427020,304.9,8.67,10.07,NaN,NaN,NaN,24.43,NaN,14.88,78.27,NaN,NaN,NaN
Rioja,2007,7961817,312.4,9.02,10.47,6.11,NaN,NaN,21.76,3.00,14.37,75.43,NaN,NaN,NaN
Rioja,2008,8264894,318.4,6.21,11.05,5.77,NaN,NaN,20.09,1.03,14.95,72.61,NaN,NaN,NaN
Rioja,2009,7911873,319.8,8.97,10.41,7.90,11577.0,NaN,18.74,2.61,15.81,80.72,NaN,NaN,NaN
Rioja,2010,8008552,319.9,8.43,10.55,12.64,12213.0,NaN,16.61,2.15,14.08,68.21,29.5,0.63,NaN
Rioja,2011,7945371,321.1,5.80,9.88,14.15,11530.0,NaN,NaN,0.82,NaN,NaN,31.1,0.62,NaN
Rioja,2012,7669045,320.1,7.24,9.96,17.21,11495.0,NaN,NaN,0.77,NaN,NaN,31.7,0.31,NaN
Rioja,2013,7581142,317.2,9.30,9.16,20.58,12003.0,NaN,NaN,3.56,NaN,NaN,30.1,0.00,66.8
Rioja,2014,7738447,314.7,7.46,9.02,20.04,11514.0,NaN,NaN,NaN,NaN,NaN,28.4,0.95,NaN
Rioja,2015,8033065,313.9,9.59,8.73,18.16,11750.0,18.6,NaN,NaN,NaN,NaN,27.2,0.32,NaN
Rioja,2016,8074094,314.0,7.23,8.51,15.39,11638.0,19.2,NaN,NaN,NaN,NaN,25.5,0.00,NaN
Rioja,2017,8351707,314.2,8.16,8.21,13.55,12126.0,15.3,NaN,NaN,NaN,NaN,25.1,0.00,NaN
Rioja,2018,8649852,314.9,7.62,7.45,12.00,12561.0,13.1,NaN,NaN,NaN,NaN,26.3,0.32,78.5
Rioja,2019,8889997,317.0,6.11,7.66,10.40,12589.0,17.1,NaN,NaN,NaN,NaN,27.6,0.00,NaN
Rioja,2020,8186915,319.1,8.75,7.33,9.96,13371.0,15.0,NaN,NaN,NaN,NaN,24.5,1.57,NaN
Rioja,2021,8735750,319.2,8.27,6.94,10.80,14303.0,18.2,NaN,NaN,NaN,NaN,28.6,0.94,74.0
Rioja,2022,9766689,320.9,6.87,6.83,11.61,13704.0,20.0,NaN,NaN,NaN,NaN,36.6,0.31,75.8
Rioja,2023,10568380,323.2,8.23,6.18,9.55,14129.0,21.3,NaN,NaN,NaN,NaN,37.6,0.93,73.7
Rioja,2024,11225817,325.6,8.57,NaN,9.38,14803.0,21.3,NaN,NaN,NaN,NaN,36.7,1.84,73.2

In [76]:
df_x_com[17]

,año,pib,pob,sui,nat,paro,ing,pobr,fum,alc,obes,fyv,crim,homi,sati
com_aut,,,,,,,,,,,,,,,
Ceuta,2000,948660,71.0,NaN,13.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ceuta,2001,985771,71.4,4.35,13.72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ceuta,2002,1040077,70.8,3.04,14.44,NaN,NaN,NaN,32.07,NaN,14.10,NaN,NaN,NaN,NaN
Ceuta,2003,1109612,71.2,6.29,14.26,NaN,NaN,NaN,26.80,NaN,12.76,NaN,NaN,NaN,NaN
Ceuta,2004,1170783,71.6,6.02,14.82,NaN,NaN,NaN,26.72,NaN,17.40,61.79,NaN,NaN,NaN
Ceuta,2005,1236986,72.2,6.11,14.75,NaN,NaN,NaN,24.77,NaN,11.35,70.29,NaN,NaN,NaN
Ceuta,2006,1327102,73.3,4.38,14.20,NaN,NaN,NaN,18.66,NaN,24.88,61.54,NaN,NaN,NaN
Ceuta,2007,1420486,74.6,2.05,15.24,21.49,NaN,NaN,22.83,4.54,18.22,66.23,NaN,NaN,NaN
Ceuta,2008,1483989,75.8,2.64,15.37,20.99,NaN,NaN,24.25,0.28,24.13,62.24,NaN,NaN,NaN
Ceuta,2009,1484372,77.8,2.45,14.81,17.43,8537.0,NaN,20.09,2.00,13.50,59.25,NaN,NaN,NaN
Ceuta,2010,1494058,80.6,10.79,14.79,18.55,9367.0,NaN,9.89,1.38,15.72,72.98,74.1,1.24,NaN
Ceuta,2011,1491191,82.9,6.86,14.06,23.92,10696.0,NaN,NaN,0.00,NaN,NaN,75.9,4.82,NaN
Ceuta,2012,1438908,84.2,1.14,13.40,27.71,10882.0,NaN,NaN,0.00,NaN,NaN,83.8,0.00,NaN
Ceuta,2013,1454750,84.4,3.76,12.85,37.02,10852.0,NaN,NaN,0.99,NaN,NaN,69.3,2.37,65.3
Ceuta,2014,1446625,84.5,4.54,14.20,34.84,10091.0,NaN,NaN,NaN,NaN,NaN,62.8,7.10,NaN
Ceuta,2015,1498459,84.4,6.51,12.97,31.85,9493.0,50.2,NaN,NaN,NaN,NaN,58.8,1.18,NaN
Ceuta,2016,1537398,84.7,4.25,12.51,27.63,9430.0,35.0,NaN,NaN,NaN,NaN,54.7,4.72,NaN
Ceuta,2017,1553567,85.1,5.52,12.29,24.92,10232.0,36.6,NaN,NaN,NaN,NaN,52.9,1.18,NaN
Ceuta,2018,1611648,85.2,3.35,11.44,22.45,10235.0,45.9,NaN,NaN,NaN,NaN,55.4,1.17,58.9
Ceuta,2019,1659979,84.8,1.11,9.96,29.01,10637.0,46.1,NaN,NaN,NaN,NaN,56.0,4.72,NaN
Ceuta,2020,1535718,84.5,4.59,10.04,25.84,10724.0,49.1,NaN,NaN,NaN,NaN,43.2,2.37,NaN
Ceuta,2021,1634006,83.1,5.12,8.68,24.53,10750.0,35.9,NaN,NaN,NaN,NaN,47.1,2.41,64.0
Ceuta,2022,1768941,83.1,5.55,8.77,30.85,11305.0,40.5,NaN,NaN,NaN,NaN,43.9,4.82,68.7
Ceuta,2023,1876147,83.1,2.27,8.22,29.93,13207.0,39.3,NaN,NaN,NaN,NaN,42.7,6.03,72.7
Ceuta,2024,1936392,83.4,5.65,NaN,29.97,14555.0,39.8,NaN,NaN,NaN,NaN,42.5,0.00,70.4

In [77]:
df_x_com[18]

,año,pib,pob,sui,nat,paro,ing,pobr,fum,alc,obes,fyv,crim,homi,sati
com_aut,,,,,,,,,,,,,,,
Melilla,2000,870994,65.2,NaN,16.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Melilla,2001,906601,66.1,5.09,17.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Melilla,2002,947808,65.5,4.59,16.02,NaN,NaN,NaN,32.07,NaN,14.10,NaN,NaN,NaN,NaN
Melilla,2003,1011565,65.0,10.33,17.04,NaN,NaN,NaN,26.80,NaN,12.76,NaN,NaN,NaN,NaN
Melilla,2004,1076478,64.7,2.61,15.39,NaN,NaN,NaN,26.72,NaN,17.40,61.79,NaN,NaN,NaN
Melilla,2005,1144982,66.4,3.35,15.25,NaN,NaN,NaN,18.80,NaN,19.84,70.29,NaN,NaN,NaN
Melilla,2006,1227093,67.9,5.21,16.52,NaN,NaN,NaN,18.99,NaN,12.78,74.60,NaN,NaN,NaN
Melilla,2007,1296125,70.1,0.00,15.87,13.59,NaN,NaN,15.34,4.54,19.44,61.43,NaN,NaN,NaN
Melilla,2008,1357572,72.2,9.10,17.34,18.21,NaN,NaN,19.49,1.62,19.72,62.05,NaN,NaN,NaN
Melilla,2009,1361870,74.5,10.48,17.09,19.99,12113.0,NaN,15.18,0.00,6.81,32.44,NaN,NaN,NaN
Melilla,2010,1367400,77.4,8.20,17.55,23.49,12370.0,NaN,11.24,0.38,9.27,51.39,60.1,0.00,NaN
Melilla,2011,1374489,80.2,0.97,18.15,22.78,12474.0,NaN,NaN,0.23,NaN,NaN,61.6,0.00,NaN
Melilla,2012,1325903,82.7,6.61,18.34,22.39,13274.0,NaN,NaN,0.28,NaN,NaN,56.1,4.84,NaN
Melilla,2013,1339497,83.8,11.11,18.04,26.92,12897.0,NaN,NaN,0.13,NaN,NaN,56.0,1.19,71.3
Melilla,2014,1350573,84.4,1.25,19.33,32.52,12635.0,NaN,NaN,NaN,NaN,NaN,54.7,3.55,NaN
Melilla,2015,1407605,85.3,7.09,17.83,28.39,13200.0,26.6,NaN,NaN,NaN,NaN,57.4,1.17,NaN
Melilla,2016,1452752,85.6,6.03,17.19,33.96,11255.0,27.5,NaN,NaN,NaN,NaN,56.5,1.17,NaN
Melilla,2017,1466610,86.0,2.45,15.82,30.75,12183.0,26.2,NaN,NaN,NaN,NaN,55.2,0.00,NaN
Melilla,2018,1510904,86.2,3.53,15.83,27.59,11381.0,27.8,NaN,NaN,NaN,NaN,63.7,0.00,86.1
Melilla,2019,1560101,86.3,1.23,14.64,25.76,14144.0,21.5,NaN,NaN,NaN,NaN,64.7,1.16,NaN
Melilla,2020,1452031,86.6,1.34,11.41,26.95,12989.0,35.9,NaN,NaN,NaN,NaN,51.6,0.00,NaN
Melilla,2021,1534391,85.8,4.96,11.17,23.62,12479.0,38.9,NaN,NaN,NaN,NaN,48.0,0.00,71.4
Melilla,2022,1657781,85.2,4.70,10.49,25.40,13159.0,31.5,NaN,NaN,NaN,NaN,50.8,2.34,77.2
Melilla,2023,1763204,85.7,1.25,8.99,25.94,14310.0,36.4,NaN,NaN,NaN,NaN,51.0,0.00,73.7
Melilla,2024,1826316,86.4,7.19,NaN,26.62,15221.0,33.4,NaN,NaN,NaN,NaN,50.5,0.00,79.0

*Existen una gran cantidad de nulos distribuidos entre los distintos años de datos, habrá que restringir las variables que se pueden comparar entre ellas para no generar conclusiones erróneas.*

## Resumen de datos

|Serie          |Tipo                |Interés| Descripción             |Notas|
|---------------|--------------------|:-----:|-------------------------|-----|
|Año            |Categórica numérica |3      |Año de los datos         |Índice numérico de los datos del dataset|
|C. autónoma    |Categórica nominal  |3      |Comunidad autónoma       |Índice categórico de los datos del dataset|
|PIB            |Numérica continua   |3      |Producto interior Bruto  |Valor en miles de euros|
|Población      |Numérica continua   |3      |Población                |Valor en miles de personas|
|Suicidios      |Numérica continua   |2      |Tasa de suicidios        |Defunciones por suicidios por 100.000 habitantes (**¡!<2023)**|
|Natalidad      |Numérica continua   |2      |Tasa de natalidad        |Nacimientos por 1.000 habitantes|
|Paro           |Numérica continua   |2      |Tasa de desempleo        |Parados entre activos por cien (**¡!CyM**)|
|Ingresos       |Numérica continua   |3      |Tasa de ingresos         |Promedio de ingresos por persona adulta (**¡!CyM**)|
|Pobreza        |Numérica continua   |2      |Tasa de riesgo de pobreza|Porcentaje de personas adultas en riesgo de pobreza (**¡!CyM**)|
|Fumadores      |Numérica continua   |1      |Tasa de fumadores        |Porcentaje de personas adultas que se declaran fumadores|
|Alcohol        |Numérica continua   |1      |Tasa de alcohol          |Porcentaje de personas adultas que declaran consumo de riesgo de alcohol|
|Obesidad       |Numérica continua   |1      |Tasa de obesidad         |Porcentaje de personas adultas con IMC definido como obesidad|
|Frutas/Verduras|Numérica continua   |1      |Consumo diario de F/V    |Porcentaje de personas adultas que declaran consumo diario de frutas y/o verduras|
|Criminalidad   |Numérica continua   |2      |Tasa de criminalidad     |Número de infracciones penales por 1.000 habitantes|
|Homicidios     |Numérica continua   |1      |Tasa de homicidios       |Número de homicidios y asesinatos (hechos conocidos) por 100.000 habitantes|
|Satisfacción   |Numérica continua   |3      |Tasa de Satisfacción     |Porcentaje de personas adultas que valora su satisfacción general con la vida como notable o superior|

In [79]:
df_pib.to_csv('../../data/processed/datos_pedro.csv', sep='|')